{% if module.enabled %}
	<!-- Label For Modules Data Page -->
	{% if widget_data.show_labels.value %}
	{% if module.hidden_name %}
	<div id="label-{{module.hidden_name|replace(' ', '-')|lower}}" class="sr-module-label bg-secondary border-primary text-center">
		<h5>{{module.hidden_name}}</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	{% else %}
	<div id="label-sr-offer-faux-modal-01" class="sr-module-label bg-secondary border-primary text-center ">
		<h5>SR Faux Modal 01</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
    {% endif %}
	{% endif %}
	
	{% require_css %}
		<style>
			{% if module.design_settings.background_option == 'image' %}
				.{{ name }} {
					{{ var.bg_image(module.design_settings.background_image.src, '600') }}
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
				}
				@media (min-width: 768px) {
					.{{ name }} {
						{{ var.bg_image(module.design_settings.background_image.src, '1440') }}
					}
				}
				.{{ name }}:before {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba({{ module.design_settings.background_overlay_color.color|convert_rgb }}, {% if module.design_settings.background_overlay_color.opacity != '100' %}0.{% endif %}{{ module.design_settings.background_overlay_color.opacity }});
				}
				.{{ name }} .container, .{{ name }} .container-fluid {
					position: relative;
				}
			{% elif module.design_settings.background_option == 'gradient' %}
				.{{name}} {
					background: linear-gradient(-225deg, {{module.design_settings.background_gradient_from.color}} 0%, {{module.design_settings.background_gradient_to.color}} 100%);
				}
			{% elif module.design_settings.background_option == 'custom' %}
				.{{ name }} {
					background-color: {{ module.design_settings.background_custom.color }};
				}
			{% endif %}
			{% if module.design_settings.top_bottom_padding == "custom" %}
				.{{ name }} {
					padding: {{ module.design_settings.custom_padding }};
				}
			{% endif %}
			.sr-offer-faux-modal-01 .well {
					box-shadow: 15px 25px 60px 0 rgba(0,0,0,0.1);
					padding: 3rem;
					background: #fff;
					z-index: 2;
					position: relative;
			}
			.sr-offer-faux-modal-01 .section-heading {
				margin: 0 0 1.25rem;
			}
			.sr-offer-faux-modal-01-image {
				background: {{module.featured_image_background.color}};
				padding: 2rem;
				text-align: center;
			}
			.sr-offer-faux-modal-01 .sr-offer-faux-modal-01-image,
			.sr-offer-faux-modal-01 .sr-offer-faux-modal-01-content {
				margin: 0 0 1.25rem;
			}
			.sr-offer-faux-modal-01 .hs-form .hs_submit {
					margin-top: 0.5em;
			}
			.sr-offer-faux-modal-01 .hs-form fieldset {
				padding: 0;
			}
			.sr-offer-faux-modal-01 .featured-logo, .sr-offer-faux-modal-01 .heading {
				margin-bottom: 2rem;
			}
			.sr-offer-faux-modal-01 input[type=submit] {
				width: 100%;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
			}
			.sr-offer-faux-modal-01 .row.d-flex.no-gutters.align-items-center {
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
			}
			@media only screen and (min-width: 992px) {
				.sr-offer-faux-modal-01 .sr-offer-faux-modal-01-content {
					padding-left: 3rem !important;
				}
				.sr-offer-faux-modal-01 .sr-offer-faux-modal-01-image,
				.sr-offer-faux-modal-01 .sr-offer-faux-modal-01-content {
					margin: 0;
				}
				.sr-offer-faux-modal-01 .row.d-flex.no-gutters.align-items-center {
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					-ms-flex-direction: row;
					flex-direction: row;
				}
			}
		
		</style>
	{% end_require_css %}

	{% if module.design_settings.container_width == 'min' %}
		{% set width_class = 'col-md-6 offset-md-3' %}
	{% elif module.design_settings.container_width == 'narrow' %}
		{% set width_class = 'col-md-8 offset-md-2' %}
	{% elif module.design_settings.container_width == 'wide' %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% else %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% endif %}

	<div class="sr-offer-faux-modal-01 {% if module.design_settings.background_option == 'color' %}bg-{{ module.design_settings.background_color }}{% endif %} sr-padding-{{ module.design_settings.top_bottom_padding }} {% if module.design_settings.class %}{{ module.design_settings.class }}{% endif %} {% if module.design_settings.border_top %}sr-line-top{% endif %} {% if module.design_settings.border_bottom %}sr-line-bottom{% endif %} {% if module.text_align != 'auto' %} text-{{ module.text_align }}{% endif %} prototype-no-background {{ name }}" {% if module.design_settings.sr_module_id %}id="{{ module.design_settings.sr_module_id }}"{% endif %}>
		<div class="{{ module.design_settings.layout }}">
		{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
		{% endif %}
					<div class="well">
						<div class="row d-flex no-gutters flex-row-reverse flex-md-row">
							{% if module.featured_image.src %}
								<div class="col-lg-6 sr-col sr-offer-faux-modal-01-image d-flex align-items-center justify-content-center">
									{% if module.sr_default_image_size %}
										{{ var.image(module.featured_image.src, '225', module.featured_image.alt, 'class="img-fluid"') }}
									{% else %}
										{{ var.image(module.featured_image.src, module.featured_image.width, module.featured_image.alt, 'class="img-fluid"') }}
									{% endif %}
								</div>
							{% endif %}
							<div class="col col-lg-6 sr-col {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">
								<div class="row d-flex align-items-center no-gutters">
									<div class="col-md-12 col-lg-12 sr-col sr-offer-faux-modal-01-content">

										{% if module.logo.src %}
											{{ var.image(module.logo.src, module.logo.width, module.logo.alt, 'class="img-fluid featured-logo"') }}
										{% endif %}
										
										{% if module.heading %}
											<h{{module.heading_size}} class="{% if module.heading_display_size != 'auto' %}{{ module.heading_display_size }}{% endif %} heading {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">{{ module.heading}}</h{{module.heading_size}}>
										{% endif %}
										
										{% if module.description %}
											<div class="description">{{ module.description}}</div>
										{% endif %}

										{% if ! module.disable_form %}
										<div class="sr-form form-wrapper-{{module.field_size}}"></div>
										{% if hub_id == 123 || !module.form.form.form_id %}
											<div id="hs_form_target_module_3540739632">
												<form class="hs-form stacked hs-custom-form">
													<fieldset class="form-columns-2" data-reactid=".0.1:$1">
														<div class="hs_email field hs-form-field">
															<div class="input">
																	<label>
																			<span>First Name</span>
																			<span class="hs-form-required">*</span>
																		</label>
																<input class="hs-input" name="first-name" placeholder="First Name" required="" type="text" value="First Name">
															</div>
														</div>
														<div class="hs_email field hs-form-field">
															<div class="input">
																<label>
																	<span>Last Name</span>
																	<span class="hs-form-required">*</span>
																</label>
																<input class="hs-input" name="Last Name" placeholder="Last Name" required="" type="text" value="Last Name">
															</div>
														</div>
													</fieldset>
													<fieldset class="form-columns-1" data-reactid=".0.1:$1">
														<div class="hs_email field hs-form-field">
															<div class="input">
																<label>
																	<span>Email Adress</span>
																	<span class="hs-form-required">*</span>
																</label>
																<input class="hs-input" name="email" placeholder="" required="" type="email" value="Email">
															</div>
														</div>
													</fieldset>
													<div class="hs_submit">
														<div class="hs-field-desc" style="display:none;"></div>
														<div class="actions">
															<input class="hs-button primary large" type="submit" value="Download Now">
														</div>
													</div>
												</form>
											</div>
										{% else %}
											{% if module.form.title is truthy %}
												{% set no_title = False %}
											{% else %}
												{% set no_title = True %}
											{% endif %}
											{% if module.form.form.form_id %}
												{% form
													form_key="{{name}}",
													form_to_use="{{module.form.form.form_id}}"
													title="{{module.form.title}}"
													no_title="{{no_title}}"
													follow_up_type_simple="{{module.form.follow_up_type_simple}}"
													simple_email_for_live_id="{{module.form.simple_email_for_live_id}}"
													follow_up_type_automation="{{module.form.follow_up_type_automation}}"
													form_follow_ups_workflow_id="{{module.form.form_follow_ups_workflow_id}}"
													response_response_type="{{module.form.form.response_type}}"
													response_redirect_id="{{module.form.form.redirect_id}}"
													response_redirect_url="{{module.form.form.redirect_url}}"
													response_message="{{module.form.form.message}}"
													notifications_are_overridden="{{module.form.notifications_are_overridden}}"
													notifications_override_email_addresses="{{module.form.notifications_override_email_addresses}}"
													gotowebinar_webinar_key="{{module.form.form.gotowebinar_webinar_key}}"
												%}
											{% endif %}
										{% endif %}
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>

{% endif %}