{% if module.enabled %}

	{% if module.design_settings.container_width == 'min' %}
		{% set width_class = 'col-md-6 offset-md-3' %}
	{% elif module.design_settings.container_width == 'narrow' %}
		{% set width_class = 'col-md-8 offset-md-2' %}
	{% elif module.design_settings.container_width == 'wide' %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% endif %}

	<!-- Label For Modules Data Page -->
	{% if widget_data.show_labels.value %}
	{% if module.hidden_name %}
	<div id="label-{{module.hidden_name|replace(' ', '-')|lower}}" class="sr-module-label bg-secondary border-primary text-center">
		<h5>{{module.hidden_name}}</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	{% else %}
	<div id="label-sr-tabs-accordion-01" class="sr-module-label bg-secondary border-primary text-center ">
		<h5>SR Tabs Accordion 01</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	{% endif %}
	{% endif %}
	
	<div class="sr-tabs-accordion-01 {% if module.design_settings.background_option == 'color' %}bg-{{ module.design_settings.background_color }}{% endif %} sr-padding-{{ module.design_settings.top_bottom_padding }} {% if module.design_settings.class %}{{ module.design_settings.class }}{% endif %} {% if module.design_settings.border_top %}sr-line-top{% endif %} {% if module.design_settings.border_bottom %}sr-line-bottom{% endif %} prototype-no-background {{ name }}" {% if module.design_settings.sr_module_id %}id="{{ module.design_settings.sr_module_id }}"{% endif %}>
		<div class="{{ module.design_settings.layout }}">
			{% if module.design_settings.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
			{% endif %}
					<div class="row">

						<div class="{% if module.one_column %}col-lg-12{% else %}col-lg-6{% endif %}">
							<div class="sticky stickyflow {% if module.one_column %}sr-spacer-bottom-50{% endif %} {% if module.text_align != 'auto' %}text-{{ module.text_align }}{% endif %}">
								<div>
									{% if module.heading %}
										<h{{module.heading_size}} class="{% if module.heading_display_size != 'auto' %}{{ module.heading_display_size }}{% endif %} heading {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">{{ module.heading }}</h{{module.heading_size}}>
									{% endif %}
									{% if module.description %}
										<div class="description {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">
											{{ module.description }}
										</div>
									{% endif %}
								</div>
							</div>
						</div>

						<div class="{% if module.one_column %}col-lg-12{% else %}col-lg-6{% endif %}">
							<div class="accordion-wrapper sr-spacer-top-50-lg">
								{% for item in module.tab_item %}
								<div class="accordion">
									<div class="accordion_group{% if item.expanded %} expanded{% endif %}">
										<div class="accordion_header">
											<h6 {% if module.accordion_text_color != 'auto' %}class="text-{{ module.accordion_text_color }}"{% endif %}>{{ item.tab_label }}</h6>
											<span class="bg-primary border-primary hs-accordion__item-icon">
												<span class="p bg-primary"></span>
												<span class="b bg-primary"></span>
											</span>
										</div>
										<div class="accordion_content {% if module.accordion_text_color != 'auto' %}text-{{ module.accordion_text_color }}{% endif %}">
											{{ item.tab_content }}
										</div>
									</div>
								</div>
								{% endfor %}
								<div id="{{name}}loadMore" style="display: none;">
									<a href="#" class="btn btn-{{ module.cta_style }}">View All</a>
								</div>
							</div>
						</div>
						{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% require_css %}
		<style>
			{% if module.design_settings.background_option == 'image' %}
				.{{ name }} {
					{{ var.bg_image(module.design_settings.background_image.src, '600') }}
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
				}
				@media (min-width: 768px) {
					.{{ name }} {
						{{ var.bg_image(module.design_settings.background_image.src, '1440') }}
					}
				}
				.{{ name }}:before {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;    
					background: rgba({{ module.design_settings.background_overlay_color.color|convert_rgb }}, {% if module.design_settings.background_overlay_color.opacity != '100' %}0.{% endif %}{{ module.design_settings.background_overlay_color.opacity }});
				}
				.{{ name }} .container, .{{ name }} .container-fluid {
					position: relative;
				}
			{% elif module.design_settings.background_option == 'gradient' %}
				.{{name}} {
					background: linear-gradient(-225deg, {{module.design_settings.background_gradient_from.color}} 0%, {{module.design_settings.background_gradient_to.color}} 100%);
				}
			{% elif module.design_settings.background_option == 'custom' %}
				.{{ name }} {
					background-color: rgba({{ module.design_settings.background_custom.color|convert_rgb }}, {% if module.design_settings.background_custom.opacity != '100' %}0.{% endif %}{{ module.design_settings.background_custom.opacity }});
				}
			{% endif %}
			{% if module.design_settings.top_bottom_padding == "custom" %}
				.{{ name }} {
					padding: {{ module.design_settings.custom_padding }};
				}
			{% endif %}
			.sr-tabs-accordion-01 .container {
				position: relative
			}
			.sr-tabs-accordion-01 .accordion {
				margin-bottom: 20px;
				display: none;
			}
			.sr-tabs-accordion-01 .accordion:last-child {
				margin-bottom: 0;
			}
			.sr-tabs-accordion-01 .accordion_group {
				margin-bottom: .5rem;
				background: #fff;
				-webkit-box-shadow: 15px 15px 60px 0 rgba(0,0,0,0.0);
				box-shadow: 15px 15px 60px 0 rgba(0,0,0,0.0);
			}
			.sr-tabs-accordion-01 .accordion_group.expanded {
				background: #fff;
				-webkit-box-shadow: 15px 15px 60px 0 rgba(0,0,0,0.13);
				box-shadow: 15px 15px 60px 0 rgba(0,0,0,0.13);
			}
			.sr-tabs-accordion-01 .accordion_header {
				cursor: pointer;
				font-size: 1.125rem;
				padding: 2rem 1.55rem;
				padding-right: 62px;
				border: 1px solid #efefef;
				position: relative;
			}
			.sr-tabs-accordion-01 .accordion_header h6 {
					margin: 0;
			}
			.sr-tabs-accordion-01 .accordion_content {
				position: relative;
				padding: 1.5rem 1.25rem;
				border: 1px solid #fff;
			}
			.sr-tabs-accordion-01 .accordion_content p:last-child {
				margin: 0;
			}
			.sr-tabs-accordion-01 .sticky p:last-child {
				margin: 0;
			}
			{% if !module.one_column %}
			.sticky {
				opacity: 0;
			}
			{% endif %}
			.sr-tabs-accordion-01 .hs-accordion__item-icon {
				position: absolute;
				height: 2rem;
				width: 2rem;
				right: 1.4rem;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				border: 2px solid;
				border-radius: 50%;
				-webkit-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
				pointer-events: none;
			}
			.sr-tabs-accordion-01 .accordion_group.expanded .hs-accordion__item-icon {
				-webkit-transform: translateY(-50%) rotate(135deg);
				-ms-transform: translateY(-50%) rotate(135deg);
				transform: translateY(-50%) rotate(135deg);
				background-color: #fff !important;
				
			}
			.sr-tabs-accordion-01 span.p.bg-primary {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				height: 2.5px;
				width: .7rem;
			}
			.sr-tabs-accordion-01 span.b.bg-primary {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				height: .7rem;
				width: 2.5px;
				background-color: #fff;
			}
			.sr-tabs-accordion-01 .accordion_group:not(.expanded ) span.p.bg-primary, .sr-tabs-accordion-01 .accordion_group:not(.expanded ) span.b.bg-primary {
				background: #fff !important;
			}
		
		</style>
	{% end_require_css %}

	{{ require_js(var.sr_assetDir + '/js/ScrollMagic.min.js') }}
	{{ require_js(var.sr_assetDir + '/js/animation.gsap.min.js') }}
	{% require_js %}
		<script>
				
			$( document ).ready(function () {
				
				//Show number of item based on user input
				$(".{{name}} .accordion").slice(0, {{ module.items_to_show }}).show();
				
				//Show the load all button if there are hidden items
				if ($(".{{name}} .accordion:hidden").length != 0) {
					$(".{{name}} #{{name}}loadMore").show();
					
					{% if module.sticky && !module.one_column %}
					//Recalculate the sticky height
					if ($(window).width() > 992) {
						setTimeout(function(){
							{{name}}_scene.duration($('.{{name}} .accordion-wrapper').outerHeight(true) - $('.{{name}} .sticky').outerHeight(true));
						}, 500);
					}
					{% endif %}
				}		
			
				{% if module.sticky && !module.one_column %}
				//Recalculate the sticky height
				if ($(window).width() > 992) {
					setTimeout(function(){
						{{name}}_scene.duration($('.{{name}} .accordion-wrapper').outerHeight(true) - $('.{{name}} .sticky').outerHeight(true));
					}, 500);
				}
				{% endif %}
				
				//On load all button click
				$(".{{name}} #{{name}}loadMore").on('click', function (e) {
					e.preventDefault();

					$(".{{name}} #{{name}}loadMore").fadeOut('fast');

					{% if module.sticky && !module.one_column %}
					//Recalculate the sticky height
					if ($(window).width() > 992) {
						setTimeout(function(){
							{{name}}_scene.duration($('.{{name}} .accordion-wrapper').outerHeight(true) - $('.{{name}} .sticky').outerHeight(true));
						}, 500);
					}
					{% endif %}
								
					//Show the rest of the items
					$(".{{name}} .accordion:hidden").slice(0, 99).show();
								
					{% if module.sticky && !module.one_column %}
					//Recalculate the sticky height
					if ($(window).width() > 992) {
						setTimeout(function(){
							{{name}}_scene.duration($('.{{name}} .accordion-wrapper').outerHeight(true) - $('.{{name}} .sticky').outerHeight(true));
						}, 500);
					}
					{% endif %}
					
				});
			});	
			
			{% if module.sticky && !module.one_column %}
				if ($(window).width() > 992) {

					var {{name}}_controller  = new ScrollMagic.Controller();

					var {{name}}_scene = new ScrollMagic.Scene({
						triggerElement: ".{{name}} .container",
						duration: 100,
						triggerHook: 0.{{module.sticky_offset}},
						reverse: true 
					}).setPin(".{{name}} .sticky").addTo({{name}}_controller );

				}

			{% endif %}

			//Fade in the sticky block to prevent jumping on load
			setTimeout(function(){
				$('.sticky').animate({opacity: 1}, 500);
			}, 525);

			var $accordion_{{name}} = $('.{{name}} .accordion');

			// Initially hide all accordion content
			$accordion_{{name}}.find('.accordion_content').hide();
			// Initially display the accordion content with .expanded class
			$accordion_{{name}}.find('.accordion_group.expanded .accordion_content').show();
										
			$accordion_{{name}}.find('.accordion_header').click(function(){
				
					if(!$(this).parent('.accordion_group').hasClass('expanded')){
						// Display the accordion content if it is not displayed
						$(this).parent(".accordion_group").addClass('expanded').children('.accordion_content').stop(true,true).slideDown();
					}
					else{
						// Hide the accordion content if it is displayed
						$(this).parent(".accordion_group").removeClass('expanded').children('.accordion_content').stop(true,true).slideUp();
					}

					{% if module.show_one_at_a_time %}
						// Hide the displayed sibling accordion content so only one appears at a time
						$accordion_{{name}}.find(".accordion_header").not(this).parent(".accordion_group.expanded").removeClass('expanded').children('.accordion_content').stop(true,true).slideUp();
					{% endif %}
				
				{% if module.sticky && !module.one_column %}
				if ($(window).width() > 992) {
					setTimeout(function(){
						{{name}}_scene.duration($('.{{name}} .accordion-wrapper').outerHeight(true) - $('.{{name}} .sticky').outerHeight(true));
					}, 500);
				}
				{% endif %}
												
			});
		</script>
	{% end_require_js %}

{% endif %}