{% if module.enabled %}

	{% if module.container_width == "min" %}
		{% set width_class = "col-md-6 offset-md-3" %}
	{% elif module.container_width == "narrow" %}
		{% set width_class = "col-md-8 offset-md-2" %}
	{% elif module.container_width == "wide" %}
		{% set width_class = "col-md-10 offset-md-1" %}
	{% else %}
		{% set width_class = "col-md-10 offset-md-1" %}
	{% endif %}

	<div class="sr-two-col-features-02 {% if module.background_option == 'color' %}bg-{{ module.background_color }}{% endif %} v-align-{{ module.features_vertical_align }} sr-padding-{{ module.top_bottom_padding }}{% if module.class %} {{ module.class }}{% endif %}{% if module.border_top %} sr-line-top{% endif %}{% if module.border_bottom %} sr-line-bottom{% endif %} prototype-no-background {{ name }}"{% if module.sr_module_id %}id="{{ module.sr_module_id }}"{% endif %}>
		<div class="{{ module.layout }}">
			{% if module.container_width != 'max' %}
				<div class="row">
					<div class="{{ width_class }}">
			{% endif %}
						{% if module.heading || module.description %}
						<div class="sr-spacer-bottom-50">
							{% if module.heading %}
								<h{{module.heading_size}} class="{% if module.heading_display_size != 'auto' %}{{ module.heading_display_size }}{% endif %} section-heading text-{{module.text_align}} text-{{ module.text_color }}">{{ module.heading }}</h{{module.heading_size}}>
							{% endif %}

							{% if module.description %}
								<div class="section-description text-{{module.text_align}} text-{{ module.text_color }}">
									{{module.description}}
								</div>
							{% endif %}
						</div>
						{% endif %}
						<div class="section-content">
							<div class="row">
								<div class="col-md-7 text-center side-image">
									<div class="sticky">
										{{ module.left_side }}
									</div>
								</div>
								<div class="col-md-5 features-list">
									{% for item in module.features %}
										{% if item.enable_link_wrapper %}
										{% set href = item.feature_url.url.href %}
										{% if item.feature_url.url.type is equalto "EMAIL_ADDRESS" %}
											{% set href = "mailto:" + href %}
										{% endif %}
										<a class="link-wrapper" href="{{ href }}" {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}{% if item.link_field.no_follow %}rel="nofollow"{% endif %}>
										{% endif %}
												<div class="media">
													{% if item.feature_image.src %}
														{{ var.image(item.feature_image.src, '60', item.feature_image.alt,'class="media-image"') }}
													{% endif %}
													<div class="media-body text-{{ module.text_color }}">
														<h5>{{ item.feature_heading}}</h5>
														{{ item.feature_content }}
													</div>
												</div>
										{% if item.enable_link_wrapper %}
											</a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>

			{% if module.container_width != 'max' %}
					</div>
				</div>
			{% endif %}

		</div>
	</div>
	{% require_js %}
		<script>
			$(window).scroll(function() { 
				if($('#navbar-main').hasClass('headroom--pinned')) {
				var navbarHeight = $('nav#navbar-main').outerHeight() + 30;
				$('.sticky').css('top', navbarHeight +'px' );
				}else if($('.navbar.sr-nav').hasClass('stuck')) {
				var navbarHeight = $('.navbar.sr-nav').height() + 30;
					$('.sticky').css('top', navbarHeight +'px' );
				}else if($('.navbar.sr-nav').hasClass('fixed-top')) {
					var navbarHeight = $('.navbar.sr-nav').height() + 30;
					$('.sticky').css('top', navbarHeight +'px' );
				} else {
				$('.sticky').css('top', '30px' );
			}
			});
		</script>
	{% end_require_js %}
	{% require_css %}
		<style>

		{% if module.background_option == 'image' %}
			.{{ name }} {
				{{ var.bg_image(module.background_image.src, '600') }}
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
			}
			@media (min-width: 768px) {
				.{{ name }} {
					{{ var.bg_image(module.background_image.src, '1440') }}
				}
			}
			.{{ name }}:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba({{ module.background_overlay_color.color|convert_rgb }}, {% if module.background_overlay_color.opacity != '100' %}0.{% endif %}{{ module.background_overlay_color.opacity }});
			}
			.{{ name }} .container, .{{ name }} .container-fluid {
				position: relative;
			}
		{% elif module.background_option == 'custom' %}
			.{{ name }} {
				background-color: rgba({{ module.background_custom.color|convert_rgb }}, {% if module.background_custom.opacity != '100' %}0.{% endif %}{{ module.background_custom.opacity }});
			}
		{% endif %}
		{% if module.top_bottom_padding == "custom" %}
			.{{ name }} {
				padding: {{ module.custom_padding }};
			}
		{% endif %}
		.sr-two-col-features-02 .section-heading {
			margin-bottom: 0.7rem;
		}

		.sr-two-col-features-02 .section-description {
			margin-bottom: 3.125rem;
		}

		.sr-two-col-features-02 .media {
			padding: 1.53rem 3.406rem 1.53rem 2rem;
			background-color:#fff;
			border:1px solid #e5e7ea;
			transition: box-shadow 0.2s ease-in-out;
			position:relative;
		}

		.sr-two-col-features-02 .link-wrapper {
			display: block;
			transition: box-shadow 0.2s ease-in-out;
		}

		@media (min-width: 768px) {
			.sr-two-col-features-02 .media{
				margin: 0 0 0.688rem;
			}
			.sr-two-col-features-02 .link-wrapper {
				margin: 0;
			}
		}
		.sr-two-col-features-02 .link-wrapper:hover {
			box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
			background-color: #fff;
			color: #343a40;
		}
		.sr-two-col-features-02 .media-image {
			margin-right:2.094rem;
			width: 45px;
			height: auto;
		}

		.sr-two-col-features-02 .media-body p {
			margin: 0;
			font-size:0.875rem;
			line-height:1.25rem;
			color:#87909e;
		}
		.sr-two-col-features-02.v-align-center .media {
			-ms-flex-align: center;
			align-items: center;
		}

		.sr-two-col-features-02 .media-body h5 {
			line-height:1.563rem;
			color:#30343b;
		}

		/* ======= */

		.sr-two-col-features-02 .side-image img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		.sr-two-col-features-02 .link-wrapper .media:after {
				display: inline-block;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f054";
				top: 50%;
				transform: translateY(-50%);
				right: 1.458rem;
				position: absolute;
				color: #0c63ff;
				opacity: 1;
				font-size: .9rem;
				-webkit-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}

		.sticky {
			position: -webkit-sticky;
			position: sticky;
			top: 5.5rem;
		}

		@media (max-width: 767px) {
			.sr-two-col-features-02 .side-image {
				margin-bottom: 3.125rem;
			}

			.sr-two-col-features-02 .media {
				margin: 0 0 0.764rem;
			}

			.sr-two-col-features-02 .side-image img {
				max-height: 300px;
				width: auto;
			}

			.sr-two-col-features-02 .media-body h5 {
				font-size:1.128rem;
				line-height:1.389rem;
			}
			.sr-two-col-features-02 .media {
				padding:1.736rem 3.125rem 1.389rem 1.736rem;
			}

			.sr-two-col-features-02 .media-body p {
				font-size:0.778rem;
				line-height:1.111rem;
			}
			.sr-two-col-features-02 .media-image {
			margin-right:1.736rem
			}

			.sr-two-col-features-02 .media-image {
				width:50px;
			}

		}
		
		</style>
	{% end_require_css %}

{% endif %}