{% if module.enabled %}
	{% require_css %}
		<style>
			{% if module.design_settings.background_option == 'image' %}
				.{{ name }} {
					{{ var.bg_image(module.design_settings.background_image.src, '600') }}
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
				}
				@media (min-width: 768px) {
					.{{ name }} {
						{{ var.bg_image(module.design_settings.background_image.src, '1440') }}
					}
				}
				.{{ name }}:before {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;    
					background: rgba({{ module.design_settings.background_overlay_color.color|convert_rgb }}, {% if module.design_settings.background_overlay_color.opacity != '100' %}0.{% endif %}{{ module.design_settings.background_overlay_color.opacity }});
				}
				.{{ name }} .container, .{{ name }} .container-fluid {
					position: relative;
				}
			{% elif module.design_settings.background_option == 'gradient' %}
				.{{name}} {
					background: linear-gradient(-225deg, {{module.design_settings.background_gradient_from.color}} 0%, {{module.design_settings.background_gradient_to.color}} 100%);
				}
			{% elif module.design_settings.background_option == 'custom' %}
				.{{ name }} {
					background-color: rgba({{ module.design_settings.background_custom.color|convert_rgb }}, {% if module.design_settings.background_custom.opacity != '100' %}0.{% endif %}{{ module.design_settings.background_custom.opacity }});
				}
			{% endif %}
			.sr-tabs-slider-01 #sr-tabs-slider-01-{{name}} .carousel-item img {
				margin: 0 auto;
			}
			.sr-tabs-slider-01 .container-fluid {
				padding: 0;
			}
			{% if module.arrows %}
				.sr-tabs-slider-01 .carousel-control-next, .sr-tabs-slider-01 .carousel-control-prev {
					width: auto;
					opacity: 1;
				}
				.sr-tabs-slider-01 a.carousel-control-prev {
					left: -3.5rem;
				}
				.sr-tabs-slider-01 a.carousel-control-next {
					right: -3.5rem;
				}
				.sr-tabs-slider-01 a.carousel-control-prev i {
					margin-right: 1px;
				}
				.sr-tabs-slider-01 a.carousel-control-next i {
					margin-left: 1px;
				}
				.sr-tabs-slider-01 span.arrow {
					border: 2px solid;
					font-weight: bold;
					width: 32px;
					border-radius: 50%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					height: 32px;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: 1.4rem;
					-webkit-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				.sr-tabs-slider-01 span.arrow i {
					font-size: 18px;
					font-weight: 600;
				}
				.sr-tabs-slider-01 span.arrow:hover {
					color: #fff !important;
				}
				
				.sr-tabs-slider-01 span.arrow:not(:hover) {
					background-color: transparent !important;
				}
				@media (max-width: 1170px) { 
					.sr-tabs-slider-01 .carousel-control-next, .sr-tabs-slider-01 .carousel-control-prev {
						display: none;
					}
				}
			{% endif %}
			{% if module.dots %}
				.sr-tabs-slider-01 .carousel-indicators {
					bottom: -2rem;
					margin: 0;
				}
				.sr-tabs-slider-01 #sr-tabs-slider-01-{{name}} .carousel-indicators--round li {
					border-radius: 50%;
					margin: 1px 3px !important;
					height: 8px;
					width: 8px;
					border: 2px solid;
					margin: 0 8px;
					opacity: 1;
				}
				.sr-tabs-slider-01 #sr-tabs-slider-01-{{name}} .carousel-indicators .active {
					background: transparent !important;
				}
				.sr-tabs-slider-01 #sr-tabs-slider-01-{{name}} .carousel-indicators--round li:not(.active) { 
					border-color: transparent !important;
				}
			{% endif %}  
			{% if module.design_settings.top_bottom_padding == "custom" %}
				.{{ name }} {
					padding: {{ module.design_settings.custom_padding }};
				}
			{% endif %}
			.sr-tabs-slider-01 .carousel-wrapper {
				position:relative;
			}
		
		</style>
	{% end_require_css %}

	{% if module.design_settings.container_width == 'min' %}
		{% set width_class = 'col-md-6 offset-md-3' %}
	{% elif module.design_settings.container_width == 'narrow' %}
		{% set width_class = 'col-md-8 offset-md-2' %}
	{% elif module.design_settings.container_width == 'wide' %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% else %}
		{% set width_class = 'col-md-10 offset-md-1' %}
	{% endif %}

	<!-- Label For Modules Data Page -->
	{% if widget_data.show_labels.value %}
	{% if module.hidden_name %}
	<div id="label-{{module.hidden_name|replace(' ', '-')|lower}}" class="sr-module-label bg-secondary border-primary text-center">
		<h5>{{module.hidden_name}}</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	{% else %}
	<div id="label-sr-tabs-slider-01" class="sr-module-label bg-secondary border-primary text-center ">
		<h5>SR Tabs Slider 01</h5>
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	{% endif %}
	{% endif %}

	<div id="{{module.design_settings.sr_module_id}}" class="{{name}} sr-tabs-slider-01 {% if module.design_settings.background_option == 'color' %}bg-{{ module.design_settings.background_color }}{% endif %} {{module.design_settings.class}} {% if module.design_settings.border_top %}sr-line-top{% endif %} {% if module.design_settings.border_bottom %}sr-line-bottom{% endif %} sr-padding-{{ module.design_settings.top_bottom_padding }}">
		<div class="{{ module.design_settings.layout }}">
		{% if module.design_settings.container_width != 'max' %}
			<div class="row">
				<div class="{{ width_class }}">
		{% endif %}
					{% if module.heading ||  module.description %}
						<div class="sr-spacer-bottom-50 {% if module.text_align != 'auto' %} text-{{ module.text_align }}{% endif %} {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">
							{% if module.heading %}
								<h{{module.heading_size}} class="{% if module.heading_display_size != 'auto' %}{{ module.heading_display_size }}{% endif %} heading {% if module.text_color != 'auto' %}text-{{ module.text_color }}{% endif %}">{{ module.heading}}</h{{module.heading_size}}>
							{% endif %}
							
							{% if module.description %}
								<div class="description">{{ module.description}}</div>
							{% endif %}
						</div>
					{% endif %}
					<div class="carousel-wrapper">
						<div id="sr-tabs-slider-01-{{name}}" class="carousel slide" data-ride="carousel">
							{% if module.dots %}
								<ol class="carousel-indicators carousel-indicators--round">
									<li class="bg-primary border-primary active" data-target="#sr-tabs-slider-01-{{name}}" data-slide-to="0" ></li>
									{% for item in module.slides %}
										{% if loop.index0 > 0 %}
											<li class="bg-primary border-primary" data-target="#sr-tabs-slider-01-{{name}}" data-slide-to="{{loop.index0}}"></li>
										{% endif %}
									{% endfor %}
								</ol>
							{% endif %}
							<div class="carousel-inner" role="listbox">
								{# <!-- === start repeater for tab panels --> #}
								{% for item in module.slides %}
									<div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
										{% if item.sr_default_image_size %}
											{{ var.image(item.slide_image.src, '1110', item.slide_image.alt, 'class="d-block img-fluid"') }}
										{% else %}
											{% if item.sr_default_image_size %}
												{{ var.image(item.slide_image.src, '1920', item.slide_image.alt, 'class="d-block img-fluid"') }}
											{% else %}
												{{ var.image(item.slide_image.src, item.slide_image.width, item.slide_image.alt, 'class="d-block img-fluid"') }}
											{% endif %}
										{% endif %}	
										</div>
									{# <!-- === end repeater for tab panels --> #}
									{% endfor %}
								</div>
								{% if module.arrows %}
									<a class="carousel-control-prev" href="#sr-tabs-slider-01-{{name}}" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#sr-tabs-slider-01-{{name}}" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								{% endif %}
							</div>
							{% if module.arrows %}
								<a class="carousel-control-prev" href="#sr-tabs-slider-01-{{name}}" role="button" data-slide="prev">
									<span class="arrow border-primary text-primary bg-primary">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
								</a>
								<a class="carousel-control-next" href="#sr-tabs-slider-01-{{name}}" role="button" data-slide="next">
									<span class="arrow border-primary text-primary bg-primary">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</a>
							{% endif %}
						</div>
			{% if module.design_settings.container_width != 'max' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}