
    {% import "/sr/templates/variables.html" as var %}


    {{ var.template('header.html') }}

    <style>
    .btn, .btn-wrapper .cta_button, input[type=submit].hs-button.primary {
        transition: all .15s ease-in-out;
        animation-timing-function: ease-in-out;
        font-size: 0.9rem;
        border-radius: 3px;
        height: 46px;
        line-height: 1.25rem;
        text-align: center;
        padding: 0 0.75rem !important;
        border: 1px solid;
        font-weight: 500;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #ffffff;
        background-color: #0c63ff;
        border-color: #0c63ff!important;
    }
    </style>

    <body class="{% block body_class %}{% text 'body_class' label="Body Class" no_wrapper=True %}{% endblock %}">
    
        {{ var.custom_module('../sr-templates/sr-stats-04.html') }}

        {{ var.template('footer-includes.html') }}

    </body>
</html>