{% include '/sr/css/_layout.css' %} 

{% set colors = {
	'primary':                       theme.colors.primary.color ?  theme.colors.primary.color : '#0c63ff',
	'secondary':                     theme.colors.secondary.color ? theme.colors.secondary.color : '#f5f7f9',
	'tertiary':                      theme.colors.tertiary.color ? theme.colors.tertiary.color : '#232031',
	'success':                       theme.colors.utility_colors.success.color ? theme.colors.utility_colors.success.color : '#28a745',
	'info':                          theme.colors.utility_colors.info.color  ? theme.colors.utility_colors.info.color : '#17a2b8',
	'warning':                       theme.colors.utility_colors.warning.color ? theme.colors.utility_colors.warning.color : '#ffc107',
	'danger':                        theme.colors.utility_colors.danger.color  ? theme.colors.utility_colors.danger.color : '#dc3545',
	'light':                         theme.colors.utility_colors.light.color ? theme.colors.utility_colors.light.color : '#f8f9fa',
	'dark':                          theme.colors.utility_colors.dark.color ? theme.colors.utility_colors.dark.color : '#343a40',
	'white':                         '#ffffff',
	'black':                         '#000000',
	'borders':                       theme.colors.borders.color ? theme.colors.borders.color  : '#e5e7ea',
	'body_bg':                       theme.colors.body_bg.color ? theme.colors.body_bg.color : '#fff',
	'body_color':                    theme.colors.body_color.color ? theme.colors.body_color.color : '#87909e',
	'link_color':                    theme.colors.link_color.color ? theme.colors.link_color.color : '#0c63ff',
	'link_hover_color':              theme.colors.link_hover_color.color ? theme.colors.link_hover_color.color : '#0da6ff'
} %}

{% set font_size_base =              theme.typography.base_font_size ? theme.typography.base_font_size : 16 %}
{% set font_line_height =            theme.typography.base_line_height ? theme.typography.base_line_height : 24 %}
{% set percentage =                  theme.typography.line_height_percentage ? theme.typography.line_height_percentage : 1.35 %}
{% set margin_percentage =           theme.typography.margin_percentage ? theme.typography.margin_percentage : 0.5 %}
{% set link_decoration =             'none' %}

{% set typography = {
	'primary_font':                  theme.typography.primary_font.style ? theme.typography.primary_font.style : 'font-family: Poppins; font-weight: 400;',

	'display1_font':                 theme.typography.display1.display1_font.style ? theme.typography.display1.display1_font.style : 'font-family: Poppins; font-weight: 600;',
	'display1_font_size':            theme.typography.display1.display1_font_size ? theme.typography.display1.display1_font_size : 95,
	'display1_font_weight':          theme.typography.display1.display1_font_weight ? theme.typography.display1.display1_font_weight : 600,
	'display1_line_height':          theme.typography.display1.display1_line_height,
	'display1_letter_spacing':       theme.typography.display1.display1_letter_spacing,

	'display2_font':                 theme.typography.display2.display2_font.style ? theme.typography.display2.display2_font.style : 'font-family: Poppins; font-weight: 600;',
	'display2_font_size':            theme.typography.display2.display2_font_size ? theme.typography.display2.display2_font_size : 80,
	'display2_font_weight':          theme.typography.display2.display2_font_weight ? theme.typography.display2.display2_font_weight : 600,
	'display2_line_height':          theme.typography.display2.display2_line_height,
	'display2_letter_spacing':       theme.typography.display2.display2_letter_spacing,

	'display3_font':                 theme.typography.display3.display3_font.style ? theme.typography.display3.display3_font.style : 'font-family: Poppins; font-weight: 600;',
	'display3_font_size':            theme.typography.display3.display3_font_size ? theme.typography.display3.display3_font_size : 75,
	'display3_font_weight':          theme.typography.display3.display3_font_weight ? theme.typography.display3.display3_font_weight : 600,
	'display3_line_height':          theme.typography.display3.display3_line_height,
	'display3_letter_spacing':       theme.typography.display3.display3_letter_spacing,

	'display4_font':                 theme.typography.display4.display4_font.style ? theme.typography.display4.display4_font.style : 'font-family: Poppins; font-weight: 600;',
	'display4_font_size':            theme.typography.display4.display4_font_size ? theme.typography.display4.display4_font_size : 60,
	'display4_font_weight':          theme.typography.display4.display4_font_weight ? theme.typography.display4.display4_font_weight : 600,
	'display4_line_height':          theme.typography.display4.display4_line_height,
	'display4_letter_spacing':       theme.typography.display4.display4_letter_spacing,

	'h1_font':                       theme.typography.h1.h1_font.style ? theme.typography.h1.h1_font.style : 'font-family: Poppins; font-weight: 600;',
	'h1_font_size':                  theme.typography.h1.h1_font_size ? theme.typography.h1.h1_font_size : 40,
	'h1_font_weight':                theme.typography.h1.h1_font_weight ? theme.typography.h1.h1_font_weight : 600,
	'h1_line_height':                theme.typography.h1.h1_line_height,
	'h1_letter_spacing':             theme.typography.h1.h1_letter_spacing,

    'h2_font':                       theme.typography.h2.h2_font.style ? theme.typography.h2.h2_font.style : 'font-family: Poppins; font-weight: 600;',
	'h2_font_size':                  theme.typography.h2.h2_font_size ? theme.typography.h2.h2_font_size : 32,
	'h2_font_weight':                theme.typography.h2.h2_font_weight ? theme.typography.h2.h2_font_weight : 600,
	'h2_line_height':                theme.typography.h2.h2_line_height,
	'h2_letter_spacing':             theme.typography.h2.h2_letter_spacing,

    'h3_font':                       theme.typography.h3.h3_font.style ? theme.typography.h3.h3_font.style : 'font-family: Poppins; font-weight: 600;',
	'h3_font_size':                  theme.typography.h3.h3_font_size ? theme.typography.h3.h3_font_size : 28,
	'h3_font_weight':                theme.typography.h3.h3_font_weight ? theme.typography.h3.h3_font_weight : 600,
	'h3_line_height':                theme.typography.h3.h3_line_height,
	'h3_letter_spacing':             theme.typography.h3.h3_letter_spacing,

    'h4_font':                       theme.typography.h4.h4_font.style ? theme.typography.h4.h4_font.style : 'font-family: Poppins; font-weight: 600;',
	'h4_font_size':                  theme.typography.h4.h4_font_size ? theme.typography.h4.h4_font_size : 24,
	'h4_font_weight':                theme.typography.h4.h4_font_weight ? theme.typography.h4.h4_font_weight : 600,
	'h4_line_height':                theme.typography.h4.h4_line_height,
	'h4_letter_spacing':             theme.typography.h4.h4_letter_spacing,

    'h5_font':                       theme.typography.h5.h5_font.style ? theme.typography.h5.h5_font.style : 'font-family: Poppins; font-weight: 600;',
	'h5_font_size':                  theme.typography.h5.h5_font_size ? theme.typography.h5.h5_font_size : 20,
	'h5_font_weight':                theme.typography.h5.h5_font_weight ? theme.typography.h5.h5_font_weight : 600,
	'h5_line_height':                theme.typography.h5.h5_line_height,
	'h5_letter_spacing':             theme.typography.h5.h5_letter_spacing,

    'h6_font':                       theme.typography.h6.h6_font.style ? theme.typography.h6.h6_font.style : 'font-family: Poppins; font-weight: 600;',
	'h6_font_size':                  theme.typography.h6.h6_font_size ? theme.typography.h6.h6_font_size : 18,
	'h6_font_weight':                theme.typography.h6.h6_font_weight ? theme.typography.h6.h6_font_weight : 600,
	'h6_line_height':                theme.typography.h6.h6_line_height,
	'h6_letter_spacing':             theme.typography.h6.h6_letter_spacing,

	'blockquote_font':               theme.typography.blockquote.blockquote_font.style ? theme.typography.blockquote.blockquote_font.style : 'font-family: Poppins; font-weight: 300;',
	'blockquote_font_size':          theme.typography.blockquote.blockquote_font_size ? theme.typography.blockquote.blockquote_font_size : 20,
	'blockquote_font_weight':        theme.typography.blockquote.blockquote_font_weight ? theme.typography.blockquote.blockquote_font_weight : 300,
	'blockquote_line_height':        theme.typography.blockquote.blockquote_line_height,
	'blockquote_letter_spacing':     theme.typography.blockquote.blockquote_letter_spacing,

    'lead_paragraph_font':           theme.typography.lead_paragraph.lead_paragraph_font.style ? theme.typography.lead_paragraph.lead_paragraph_font.style : 'font-family: Poppins; font-weight: 400;',
	'lead_paragraph_font_size':      theme.typography.lead_paragraph.lead_paragraph_font_size ? theme.typography.lead_paragraph.lead_paragraph_font_size : 20,
	'lead_paragraph_font_weight':    theme.typography.lead_paragraph.lead_paragraph_font_weight ? theme.typography.lead_paragraph.lead_paragraph_font_weight : 300,
	'lead_paragraph_line_height':    theme.typography.lead_paragraph.lead_paragraph_line_height,
	'lead_paragraph_letter_spacing': theme.typography.lead_paragraph.lead_paragraph_letter_spacing,
	
	'list_font':                     theme.typography.list.list_font.style ? theme.typography.list.list_font.style : 'font-family: Poppins; font-weight: 400;',
	'list_font_size':                theme.typography.list.list_font_size ? theme.typography.list.list_font_size : 16,
	'list_font_weight':              theme.typography.list.list_font_weight ? theme.typography.list.list_font_weight : 300,
	'list_line_height':              theme.typography.list.list_line_height,
	'list_letter_spacing':           theme.typography.list.list_letter_spacing,
	'list_custom_unordered_list':    theme.typography.list.list_custom_unordered_list ? theme.typography.list.list_custom_unordered_list : true,
	'list_custom_ordered_list':      theme.typography.list.list_custom_ordered_list ? theme.typography.list.list_custom_ordered_list : true,
	'list_bullets':                  theme.typography.list.bullets.src ? theme.typography.list.bullets.src : 'https://www.lean-labs.com/hubfs/sr-assets/images/check-solid.png',
	'list_number_color':             theme.typography.list.number_color.color ? theme.typography.list.number_color.color : '#0c63ff',

	'small_font_size':               theme.typography.small_font_size ? theme.typography.small_font_size : 13,
	'font_family_sans_serif':        'sans-serif',
	'headings_color':                theme.colors.headings_color.color ? theme.colors.headings_color.color : '#30343b'
} %}

{% set spacers = {
	'sr_spacer_25':                  theme.paddings_spacers.sr_spacer_25 ? theme.paddings_spacers.sr_spacer_25 : 25,
	'sr_spacer_50':                  theme.paddings_spacers.sr_spacer_50 ? theme.paddings_spacers.sr_spacer_50 : 50,
	'sr_spacer_75':                  theme.paddings_spacers.sr_spacer_75 ? theme.paddings_spacers.sr_spacer_75 : 75,
	'sr_spacer_100':                 theme.paddings_spacers.sr_spacer_100 ? theme.paddings_spacers.sr_spacer_100 : 100,
	'half':                          theme.paddings_spacers.sr_padding_half ? theme.paddings_spacers.sr_padding_half : 50,
	'full':                          theme.paddings_spacers.sr_padding_full ? theme.paddings_spacers.sr_padding_full : 100
} %}

{% set button = {
	'border_radius':                 theme.buttons_inputs.button_border_radius ? theme.buttons_inputs.button_border_radius : 0,
	'border_width':                  theme.buttons_inputs.button_border_width ? theme.buttons_inputs.button_border_width : 0,
	'large_height':                  theme.buttons_inputs.size_large.height ? theme.buttons_inputs.size_large.height : 52,
	'large_font_size':               theme.buttons_inputs.size_large.font_size ? theme.buttons_inputs.size_large.font_size : 20,
	'large_button_l_r_padding':      theme.buttons_inputs.size_large.button_l_r_padding ? theme.buttons_inputs.size_large.button_l_r_padding : 24,
	'medium_font':                   theme.buttons_inputs.button_font.font ? theme.buttons_inputs.button_font.font : 'font-family: Poppins; font-weight: 400;',
	'medium_font_style':             theme.buttons_inputs.button_font.style ? theme.buttons_inputs.button_font.style : '',
	'medium_height':                 theme.buttons_inputs.height ? theme.buttons_inputs.height : 46,
	'medium_font_size':              theme.buttons_inputs.button_font.size ? theme.buttons_inputs.button_font.size : 16,
	'medium_button_l_r_padding':     theme.buttons_inputs.button_l_r_padding ? theme.buttons_inputs.button_l_r_padding : 20,
	'small_height':                  theme.buttons_inputs.size_small.height ? theme.buttons_inputs.size_small.height : 38,
	'small_font_size':               theme.buttons_inputs.size_small.font_size ? theme.buttons_inputs.size_small.font_size : 12,
	'small_button_l_r_padding':      theme.buttons_inputs.size_small.button_l_r_padding ? theme.buttons_inputs.size_small.button_l_r_padding : 16,
	'button_font_size':              theme.buttons_inputs.button_font_size ? theme.buttons_inputs.button_font_size : 16,
	'button_font_weight':            theme.buttons_inputs.button_font_weight ? theme.buttons_inputs.button_font_weight : 300,
	'button_letter_spacing':         theme.buttons_inputs.button_letter_spacing
} %}

{% set container = {
	'container_xl':                  theme.container.container_width ? theme.container.container_width + 540 : 1680,
	'container_lg':                  theme.container.container_width ? theme.container.container_width : 1140,
	'container_md':                  theme.container.container_width ? theme.container.container_width - 180 : 960,
	'container_sm':                  theme.container.container_width ? theme.container.container_width - 420 : 720,
	'container_xs':                  theme.container.container_width ? theme.container.container_width - 600 : 540
} %}

{% macro btn() %}
{{ animated_fast() }}
{% if !theme.typography.custom_font %}
{{button.medium_font_style}};
font-size: {{ button.medium_font_size / font_size_base + 'rem' }};
line-height: {{ button.medium_font_size / font_size_base * percentage}}rem;
{% else %}
font-size: {{ button.button_font_size / font_size_base + 'rem' }};
font-weight: {{ button.button_font_weight }};
line-height: {{ button.button_font_size / font_size_base * percentage}}rem;
{% endif %}
border-radius: {{ button.border_radius + 'px' }};
height: {{ button.medium_height / font_size_base + 'rem' }};
{% if theme.buttons_inputs.button_advanced_settings %}
letter-spacing: {{ button.button_letter_spacing }}px;
{% endif %}
text-align: center;
padding: 0 {{ button.medium_button_l_r_padding / font_size_base }}rem ;
border: {{button.border_width}}px solid;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
{% endmacro %}

{% macro animated() %}
transition: all .3s ease-in-out;
animation-timing-function: ease-in-out;
{% endmacro %}

{% macro animated_fast() %}
transition: all .15s ease-in-out;
animation-timing-function: ease-in-out;
{% endmacro %}

{% macro btn_hubl_class() %}
color: #fff;
background-color: {{ val }};
border-color: {{ val }} !important;
{% endmacro %}

{% macro btn_outline_hubl_class() %}
color: {{ val }};
background-color: transparent;
border-color: {{ val }} !important;
{% endmacro %}

{% macro text_hubl_class() %}
color: {{ val }} !important;
{% endmacro %}

{% macro bg_hubl_class() %}
background-color: {{ val }} !important;
{% endmacro %}

{% macro border_hubl_class() %}
border-color: {{ val }} !important;
{% endmacro %}

:root {
	{% for key, color in colors.items() %}
	--{{ key }}: {{ color }};
	{% endfor %} 
}

.block { display: table; }
.circle { border-radius: 100%; }
.divider {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0 0 13px 0;
	margin: 0 0 40px;
}
.text-center-mobile { text-align: center; }
.max-responsive { max-width: 100%; height: auto !important; }
.antialiased { -webkit-font-smoothing: antialiased; }

.no-bullets ul,
.no-bullets ol {
	list-style: none;
	padding-left: 0;
}

.animated {
	{{ animated() }}
}

.animated-fast {
	{{ animated_fast() }}
}

.sr-line-top { border-top: 1px solid {{ colors.borders }}; }
.sr-line-bottom { border-bottom: 1px solid {{ colors.borders }}; }

/* ----------------------------------------------------------------------------------- */
/*  Typography */
/* ----------------------------------------------------------------------------------- */
body {
	line-height: {{font_line_height / font_size_base}}rem;
	{% if !theme.typography.custom_font %}
	{{ typography.primary_font }};
	{% endif %}
	font-size: {{ font_size_base }}px;
	color: {{ colors.body_color }};
	background-color: {{ colors.body_bg }};
}


.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: {{container.container_xs + 36}}px) {
  .container, 
  .container-sm {
    max-width: {{container.container_xs}}px;
  }
}

@media (min-width: {{container.container_sm + 48}}px) {
  .container, 
  .container-sm, 
  .container-md {
    max-width: {{container.container_sm}}px;
  }
}

@media (min-width: {{container.container_md + 32}}px) {
  .container, 
  .container-sm, 
  .container-md, 
  .container-lg {
    max-width: {{container.container_md}}px;
  }
}

@media (min-width: {{container.container_lg + 60}}px) {
  .container, 
  .container-sm, 
  .container-md, 
  .container-lg, 
  .container-xl {
    max-width: {{container.container_lg}}px;
  }
}

@media screen and (min-width: 2561px) {
	.container {
		max-width: {{container.container_xl}}px;
	}
}

.container-fluid {
	max-width: 1920px
}

body > .container-fluid, .sr-tabs-split-screen > .container-fluid {
	width: auto;
	max-width: none;
	padding: 0;
}

body > .body-container-wrapper > .body-container.container-fluid {
	padding: 0;
	max-width: none;
}

.container-fluid:before, .container-fluid:after {
	display: none;
}

h1,
.h1 {
	{% if !theme.typography.custom_font %}
	{{ typography.h1_font }};
	{% endif %}
	font-size: {{ typography.h1_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h1_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h1.h1_advanced_settings %}
	{% if typography.h1_line_height %}
	line-height: {{ typography.h1_line_height }}px;
	{% endif %}
	{% if typography.h1_letter_spacing %}
	letter-spacing: {{ typography.h1_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h1_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h2,
.h2 { 
	{% if !theme.typography.custom_font %}
	{{ typography.h2_font }};
	{% endif %}
	font-size: {{ typography.h2_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h2_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h2.h2_advanced_settings %}
	{% if typography.h2_line_height %}
	line-height: {{ typography.h2_line_height }}px;
	{% endif %}
	{% if typography.h2_letter_spacing %}
	letter-spacing: {{ typography.h2_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h2_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h3,
.h3 {
	{% if !theme.typography.custom_font %}
	{{ typography.h3_font }};
	{% endif %}
	font-size: {{ typography.h3_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h3_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h3.h3_advanced_settings %}
	{% if typography.h3_line_height %}
	line-height: {{ typography.h3_line_height }}px;
	{% endif %}
	{% if typography.h3_letter_spacing %}
	letter-spacing: {{ typography.h3_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h3_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h4,
.h4 {
	{% if !theme.typography.custom_font %}
	{{ typography.h4_font }};
	{% endif %}
	font-size: {{ typography.h4_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h4_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h4.h4_advanced_settings %}
	{% if typography.h4_line_height %}
	line-height: {{ typography.h4_line_height }}px;
	{% endif %}
	{% if typography.h4_letter_spacing %}
	letter-spacing: {{ typography.h4_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h4_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h5,
.h5 {
	{% if !theme.typography.custom_font %}
	{{ typography.h5_font }};
	{% endif %}
	font-size: {{ typography.h5_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h5_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h5.h5_advanced_settings %}
	{% if typography.h5_line_height %}
	line-height: {{ typography.h5_line_height }}px;
	{% endif %}
	{% if typography.h5_letter_spacing %}
	letter-spacing: {{ typography.h5_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h5_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h6,
.h6 {
	{% if !theme.typography.custom_font %}
	{{ typography.h6_font }};
	{% endif %}
	font-size: {{ typography.h6_font_size / font_size_base }}rem;
	margin-bottom: {{ typography.h6_font_size / font_size_base * margin_percentage}}rem;
	{% if theme.typography.h6.h6_advanced_settings %}
	{% if typography.h6_line_height %}
	line-height: {{ typography.h6_line_height }}px;
	{% endif %}
	{% if typography.h6_letter_spacing %}
	letter-spacing: {{ typography.h6_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.h6_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: {{ typography.headings_color }};
}

@media (min-width:992px) {
	.display-1 {		
		{% if !theme.typography.custom_font %}		
		{{ typography.display1_font }};
		{% endif %}
		font-size: {{ typography.display1_font_size / font_size_base }}rem;
		margin-bottom: {{ typography.display1_font_size / font_size_base * margin_percentage}}rem;
		{% if theme.typography.display1.display1_advanced_settings %}
		{% if typography.display1_line_height %}
		line-height: {{ typography.display1_line_height }}px;
		{% endif %}
		{% if typography.display1_letter_spacing %}
		letter-spacing: {{ typography.display1_letter_spacing }}px;
		{% endif %}
		{% else %}
		line-height: {{ typography.display1_font_size / font_size_base * percentage}}rem;
		{% endif %}
	}

	.display-2 {
		{% if !theme.typography.custom_font %}
		{{ typography.display2_font }};
		{% endif %}
		font-size: {{ typography.display2_font_size / font_size_base }}rem;
		margin-bottom: {{ typography.display2_font_size / font_size_base * margin_percentage}}rem;
		{% if theme.typography.display2.display2_advanced_settings %}
		{% if typography.display2_line_height %}
		line-height: {{ typography.display2_line_height }}px;
		{% endif %}
		{% if typography.display2_letter_spacing %}
		letter-spacing: {{ typography.display2_letter_spacing }}px;
		{% endif %}
		{% else %}
		line-height: {{ typography.display2_font_size / font_size_base * percentage}}rem;
		{% endif %}
	}

	.display-3 {		
		{% if !theme.typography.custom_font %}
		{{ typography.display3_font }};
		{% endif %}
		font-size: {{ typography.display3_font_size / font_size_base }}rem;
		margin-bottom: {{ typography.display3_font_size / font_size_base * margin_percentage}}rem;
		{% if theme.typography.display3.display3_advanced_settings %}
		{% if typography.display3_line_height %}
		line-height: {{ typography.display3_line_height }}px;
		{% endif %}
		{% if typography.display3_letter_spacing %}
		letter-spacing: {{ typography.display3_letter_spacing }}px;
		{% endif %}
		{% else %}
		line-height: {{ typography.display3_font_size / font_size_base * percentage}}rem;
		{% endif %}
	}

	.display-4 {		
		{% if !theme.typography.custom_font %}		
		{{ typography.display4_font }};
		{% endif %}
		font-size: {{ typography.display4_font_size / font_size_base }}rem;
		margin-bottom: {{ typography.display4_font_size / font_size_base * margin_percentage}}rem;
		{% if theme.typography.display4.display4_advanced_settings %}
		{% if typography.display4_line_height %}
		line-height: {{ typography.display4_line_height }}px;
		{% endif %}
		{% if typography.display4_letter_spacing %}
		letter-spacing: {{ typography.display4_letter_spacing }}px;
		{% endif %}
		{% else %}
		line-height: {{ typography.display4_font_size / font_size_base * percentage}}rem;
		{% endif %}
	}
}

p {
	margin-top: 0;
	margin-bottom: 1.25rem;
}

p.lead, p.large {
	{% if !theme.typography.custom_font %}
	{{typography.lead_paragraph_font}};
	{% endif %}
	margin-bottom: {{ typography.lead_paragraph_font_size / font_size_base * margin_percentage + 'rem' }};
	font-size: {{ typography.lead_paragraph_font_size / font_size_base }}rem;
	{% if theme.typography.lead_paragraph.lead_paragraph_advanced_settings %}
	{% if typography.lead_paragraph_line_height %}
	line-height: {{ typography.lead_paragraph_line_height }}px;
	{% endif %}
	{% if typography.lead_paragraph_letter_spacing %}
	letter-spacing: {{ typography.lead_paragraph_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.lead_paragraph_font_size / font_size_base * percentage}}rem;
	{% endif %}
}
ul,
ol {
    padding-left: 2rem;
}
ul,
ol,
ul li,
ol li {
	{% if !theme.typography.custom_font %}
	{{typography.list_font}};
	{% endif %}
	font-size: {{ typography.list_font_size / font_size_base }}rem;
	{% if theme.typography.list.list_advanced_settings %}
	{% if typography.list_line_height %}
	line-height: {{ typography.list_line_height }}px;
	{% endif %}
	{% if typography.list_letter_spacing %}
	letter-spacing: {{ typography.list_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.list_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

{% if typography.list_custom_unordered_list %}
ul {
    list-style-image: url({{typography.list_bullets}});
}
{% endif %}

{% if typography.list_custom_ordered_list %}
ol {
    list-style: none;
    counter-reset: item;
	padding-left: 15px;
}
ol li {
    counter-increment: item;
}
ol li:before {
    margin-right: .5rem;
    content: counter(item)".";
	color: {{typography.list_number_color}};
    text-align: center;
    display: inline-block;
	font-weight: bold;
}
{% endif %}

p.small, .small, small {
	font-size: {{ typography.small_font_size / font_size_base + 'rem' }};
	line-height: {{ typography.small_font_size / font_size_base * percentage}}rem;
}

blockquote {
	{% if !theme.typography.custom_font %}
	{{typography.blockquote_font}};
	{% endif %}
	font-size: {{ typography.blockquote_font_size / font_size_base + 'rem' }};
	margin-bottom: {{ typography.blockquote_font_size / font_size_base * margin_percentage + 'rem' }};
	{% if theme.typography.blockquote.blockquote_advanced_settings %}
	{% if typography.blockquote_line_height %}
	line-height: {{ typography.blockquote_line_height }}px;
	{% endif %}
	{% if typography.blockquote_letter_spacing %}
	letter-spacing: {{ typography.blockquote_letter_spacing }}px;
	{% endif %}
	{% else %}
	line-height: {{ typography.blockquote_font_size / font_size_base * percentage}}rem;
	{% endif %}
}

{# Custom fonts #}
{% if theme.typography.custom_font %}
body {
	font-family: "";
}
h1,
.h1 {
	font-family: "";
	font-weight: {{ typography.h1_font_weight }};
}

h2,
.h2 {
	font-family: "";
	font-weight: {{ typography.h2_font_weight }};
}

h3,
.h3 {
	font-family: "";
	font-weight: {{ typography.h3_font_weight }};
}

h4,
.h4 {
	font-family: "";
	font-weight: {{ typography.h4_font_weight }};
}

h5,
.h5 {
	font-family: "";
	font-weight: {{ typography.h5_font_weight }};
}

h6,
.h6 {
	font-family: "";
	font-weight: {{ typography.h6_font_weight }};
}
@media (min-width:992px) {
	.display-1 {				
		font-family: "";
		font-weight: {{ typography.display1_font_weight }};
	}
	.display-2 {				
		font-family: "";
		font-weight: {{ typography.display2_font_weight }};
	}
	.display-3 {				
		font-family: "";
		font-weight: {{ typography.display3_font_weight }};
	}
	.display-4 {				
		font-family: "";
		font-weight: {{ typography.display4_font_weight }};
	}
}
p.lead, p.large {		
	font-family: "";
	font-weight: {{ typography.lead_paragraph_font_weight }};
}
blockquote {				
	font-family: "";
	font-weight: {{ typography.blockquote_font_weight }};
}
.btn, 
.btn-wrapper .cta_button,
.btn-wrapper input[type="submit"],
.btn-wrapper input[type="button"],
.hs-form input[type="submit"],
.hs-form input[type="button"]    {
	font-family: "";
}
{% endif %}

a {
	color: {{ colors.link_color }};
	text-decoration: {{ link_decoration }};
}

a:hover, a:hover:not(.btn) {
	color: {{ colors.link_hover_color }};
	text-decoration: {{ link_decoration }};
}

a.media {
	color: {{ colors.body_color }};
	text-decoration: none;
}

p,
p:hover, {
	color: red !important;
	text-decoration: {{ link_decoration }};
}

p a {
	border-bottom: 1px solid {{ colors.link_color }};
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

p a:hover {
	color: {{ colors.link_hover_color }};
	border-bottom: 1px solid {{ colors.link_hover_color }};
}

.blog p a {
	color: {{ colors.link_color }};
	font-weight: bold;	
}

.blog p a:hover {
	color: {{ colors.link_hover_color }};
}

img {
	max-width: 100%;
	height: auto;
}

/* ----------------------------------------------------------------------------------- */
/* Responsive Typography */
/* ----------------------------------------------------------------------------------- */
{% if theme.typography.responsive_typography %}	
html { 
	font-size: {{ theme.typography.small_screens_font_size + 'px' }}; 
}
@media (min-width: 768px) { 
	html { 
		font-size: {{ theme.typography.medium_screens_font_size + 'px' }}; 
	}
}
@media (min-width: 992px) { 
	html { 
		font-size: {{ font_size_base + 'px' }}; 
	}
}
@media (min-width: 2561px) { 
	html { 
		font-size: {{ theme.typography.large_screens_font_size + 'px' }}; 
	}
}
{% else %}
html { 
	font-size: {{ font_size_base + 'px' }}; 
}
{% endif %}

.bg-bottom {
  background-position: bottom !important;
}

.bg-center {
  background-position: center !important;
}

.bg-left {
  background-position: left !important;
}

.bg-left-bottom {
  background-position: left bottom !important;
}

.bg-left-top {
  background-position: left top !important;
}

.bg-right {
  background-position: right !important;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top !important;
}

.bg-top {
  background-position: top !important;
}

.bg-repeat {
  background-repeat: repeat !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-repeat-x {
  background-repeat: repeat-x !important;
}

.bg-repeat-y {
  background-repeat: repeat-y !important;
}

.bg-auto {
  background-size: auto !important;
}

.bg-cover {
  background-size: cover !important;
}

.bg-contain {
  background-size: contain !important;
}

/* ----------------------------------------------------------------------------------- */
/*  Buttons & Inputs */
/* ----------------------------------------------------------------------------------- */

.btn, 
.btn-wrapper .cta_button,
.btn-wrapper input[type="submit"],
.btn-wrapper input[type="button"],
.hs-form input[type="submit"],
.hs-form input[type="button"]  {
	{{ btn() }}
}

/* ----------------------------------------------------------------------------------- */
/*  Standard Padding */
/* ----------------------------------------------------------------------------------- */

.sr-padding-zero {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.sr-padding-half {
	padding-top: {{ spacers.half / font_size_base + 'rem !important' }};
	padding-bottom: {{spacers.half / font_size_base + 'rem !important' }};
}
.sr-padding-full {
	padding-top: {{ spacers.full / font_size_base + 'rem !important' }};
	padding-bottom: {{ spacers.full / font_size_base + 'rem !important' }};
}

/* ----------------------------------------------------------------------------------- */
/*  Standard Spacers */
/* ----------------------------------------------------------------------------------- */

.sr-spacer-25 {
	padding-top: {{ spacers.sr_spacer_25 / font_size_base + 'rem' }};
	padding-bottom: {{ spacers.sr_spacer_25 / font_size_base + 'rem' }};
}
.sr-spacer-top-25 {
	padding-top: {{ spacers.sr_spacer_25 / font_size_base + 'rem' }};
}
.sr-spacer-bottom-25 {
	padding-bottom: {{ spacers.sr_spacer_25 / font_size_base + 'rem' }};
}

.sr-spacer-50 {
	padding-top: {{ spacers.sr_spacer_50 / font_size_base + 'rem' }};
	padding-bottom: {{ spacers.sr_spacer_50 / font_size_base + 'rem' }};
}
.sr-spacer-top-50 {
	padding-top: {{ spacers.sr_spacer_50 / font_size_base + 'rem' }};
}
.sr-spacer-bottom-50 {
	padding-bottom: {{ spacers.sr_spacer_50 / font_size_base + 'rem' }};
}

.sr-spacer-75 {
	padding-top: {{ spacers.sr_spacer_75 / font_size_base + 'rem' }};
	padding-bottom: {{ spacers.sr_spacer_75 / font_size_base + 'rem' }};
}
.sr-spacer-top-75 {
	padding-top: {{ spacers.sr_spacer_75 / font_size_base + 'rem' }};
}
.sr-spacer-bottom-75 {
	padding-bottom: {{ spacers.sr_spacer_75 / font_size_base + 'rem' }};
}

.sr-spacer-100 {
	padding-top: {{ spacers.sr_spacer_100 / font_size_base + 'rem' }};
	padding-bottom: {{ spacers.sr_spacer_100 / font_size_base + 'rem' }};
}
.sr-spacer-top-100 {
	padding-top: {{ spacers.sr_spacer_100 / font_size_base + 'rem' }};
}
.sr-spacer-bottom-100 {
	padding-bottom: {{ spacers.sr_spacer_100 / font_size_base + 'rem' }};
}


{% for key, val in colors.items() %}

/* ----------------------------------------------------------------------------------- */
/* Button color classes */
/* ----------------------------------------------------------------------------------- */
{% set btn_css_class = 'btn-' + key %}
{% set btn_hubl_class = 'btn_' + key %}
{% set btn_outline_css_class = 'btn-outline-' + key %}
{% set btn_outline_hubl_class = 'btn_outline_' + key %}

.{{ btn_css_class }} {
	{{ btn_hubl_class() }}
}

.{{ btn_css_class }}:hover {
	color: #fff;
	background-color: {{ val }};
	filter: brightness(110%);
}

.btn-wrapper.{{ btn_css_class }}-wrapper .cta_button,
input[type=submit].hs-button.{{ key }},
.btn-wrapper.{{ btn_css_class }}-wrapper .hs-form input[type="submit"],
.btn-wrapper.{{ btn_css_class }}-wrapper .hs-form input[type="button"] {
	{{ btn_hubl_class() }}
}

.btn-wrapper.{{ btn_css_class }}-wrapper .cta_button:hover,
input[type=submit].hs-button.{{ key }}:hover,
.btn-wrapper.{{ btn_css_class }}-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.{{ btn_css_class }}-wrapper .hs-form input[type="button"]:hover {
	color: #fff;
	background-color: {{ val }};
	filter: brightness(110%);
	text-decoration: none;
}

.{{ btn_outline_css_class }} {
	{{ btn_outline_hubl_class() }}
}

.{{ btn_outline_css_class }}:hover {
	color: #fff;
	background-color: {{ val }};
}

.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta_button,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .hs-form input[type="submit"],
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .hs-form input[type="button"] {
	{{ btn_outline_hubl_class() }}
}

.btn-wrapper.{{ btn_outline_css_class }}-wrapper .cta_button:hover,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.{{ btn_outline_css_class }}-wrapper .hs-form input[type="button"]:hover {
	{{ btn_outline_hubl_class() }}
	color: #fff;
	background-color: {{ val }};
}

/* ----------------------------------------------------------------------------------- */
/* Text color classes */
/* ----------------------------------------------------------------------------------- */
{% set text_css_class = 'text-' + key %}
{% set text_hubl_class = 'text_' + key %}

.{{ text_css_class }} {
	{{ text_hubl_class() }}
}

.{{ text_css_class }} h1, 
.{{ text_css_class }} h2, 
.{{ text_css_class }} h3, 
.{{ text_css_class }} h4, 
.{{ text_css_class }} h5, 
.{{ text_css_class }} h6 {
	color: inherit;
}

/* ----------------------------------------------------------------------------------- */		
/* Background color classes */
/* ----------------------------------------------------------------------------------- */
{% set bg_css_class = 'bg-' + key %}
{% set bg_hubl_class = 'bg_' + key %}


.{{ bg_css_class }} {
	{{ bg_hubl_class() }}
}

/* ----------------------------------------------------------------------------------- */
/* Border color classes */		
/* ----------------------------------------------------------------------------------- */
{% set border_css_class = 'border-' + key %}
{% set border_hubl_class = 'border_' + key %}

.{{ border_css_class }} {
	{{ border_hubl_class() }}
}

{% endfor %}

.btn-wrapper.btn-outline-white-wrapper .cta_button:hover,
.btn-wrapper.btn-outline-white-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-outline-white-wrapper .hs-form input[type="button"]:hover,
.btn-wrapper.btn-white-wrapper .cta_button,
.btn-wrapper.btn-white-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-white-wrapper .hs-form input[type="button"],
.btn-white,
.btn-outline-white:hover {
	color: #000;
}

.btn-wrapper.btn-white-wrapper .cta_button:hover,
.btn-wrapper.btn-white-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-white-wrapper .hs-form input[type="button"]:hover,
.btn-wrapper.btn-black-wrapper .cta_button:hover,
.btn-wrapper.btn-black-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-black-wrapper .hs-form input[type="button"]:hover,
.btn-white:hover {
	background: {{colors.primary}};
	border-color: {{colors.primary}} !Important;
}

.btn-wrapper.btn-none-wrapper .cta_button {
	padding: 0;
	height: auto;
	border: none;
	font-weight: inherit;
	position: relative;
}

.btn-wrapper.btn-none-wrapper .cta_button:before {
	transition: width 250ms ease-in-out;
	position: absolute;
	bottom: -2px;
	width: 0;
	border-bottom: 1px solid #1264a3;
	content: "";
}

.btn-wrapper.btn-none-wrapper .cta_button:after {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
	margin-left: 7px;
}

.btn-wrapper.btn-none-wrapper .cta_button:hover:before {
	width: 100%;
}

.btn.btn-sm, 
.btn-wrapper.btn-wrapper-sm .cta_button,
.btn.btn-sm:hover,
.btn-wrapper.btn-wrapper-lg .cta_button:hover {
	height: {{ button.small_height  / font_size_base + 'rem' }} !important;
	padding: 0 {{ button.small_button_l_r_padding / font_size_base }}rem !important;
	font-size: {{ button.small_font_size / font_size_base + 'rem' }} !important;
}

.btn.btn-md, 
.btn-wrapper.btn-wrapper-md .cta_button,
.btn.btn-md:hover,
.btn-wrapper.btn-wrapper-md .cta_button:hover {
	height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 {{ button.medium_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }} !important;
}
.btn.btn-lg, 
.btn-wrapper.btn-wrapper-lg .cta_button,
.btn.btn-lg:hover,
.btn-wrapper.btn-wrapper-lg .cta_button:hover {
	height: {{ button.large_height / font_size_base + 'rem' }} !important;
	padding: 0 {{ button.large_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.large_font_size / font_size_base + 'rem' }} !important;
}

/* Override for primary button */
{% if theme.buttons_inputs.enable_primary_button_color_override %}
.btn-wrapper.btn-primary-wrapper .cta_button,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-primary-wrapper .hs-form input[type="button"] {
	background-color:{{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }}!important;
	border-color:{{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.primary_button_override.primary_button_text_color.color }};
}

.btn-wrapper.btn-primary-wrapper .cta_button:hover,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-primary-wrapper .hs-form input[type="button"]:hover {
	background-color:{{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }};
	color:{{ theme.buttons_inputs.primary_button_override.primary_button_text_color.color }};
}

.btn-wrapper.btn-outline-primary-wrapper .cta_button, .btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="submit"], .btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="button"] {
	border-color:{{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.primary_button_override.primary_button_background_color.color }}!important;
}

.btn-wrapper.btn-outline-primary-wrapper .cta_button:hover, .btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="submit"]:hover, .btn-wrapper.btn-outline-primary-wrapper .hs-form input[type="button"]:hover {
	background-color:#fff!important;
	border-color:#fff!important;
}

{% endif %}

/* Override for secondary button */
{% if theme.buttons_inputs.enable_secondary_button_color_override %}
.btn-wrapper.btn-secondary-wrapper .cta_button,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="button"] {
	background-color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }}!important;
	border-color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_text_color.color }};
}

.btn-wrapper.btn-secondary-wrapper .cta_button:hover,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-secondary-wrapper .hs-form input[type="button"]:hover {
	background-color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }};
	color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_text_color.color }}!important;
}
.btn-wrapper.btn-outline-secondary-wrapper .cta_button, .btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="submit"], .btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="button"] {
	border-color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.secondary_button_override.secondary_button_background_color.color }}!important;
}
.btn-wrapper.btn-outline-secondary-wrapper .cta_button:hover, .btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="submit"]:hover, .btn-wrapper.btn-outline-secondary-wrapper .hs-form input[type="button"]:hover {
	border-color:#fff!Important;
	background-color:#fff!Important;
}
{% endif %}

/* Override for tertiary button */
{% if theme.buttons_inputs.enable_tertiary_button_color_override %}
.btn-wrapper.btn-tertiary-wrapper .cta_button,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="submit"],
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="button"] {
	background-color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }}!important;
	border-color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_text_color.color }};
}

.btn-wrapper.btn-tertiary-wrapper .cta_button:hover,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="submit"]:hover,
.btn-wrapper.btn-tertiary-wrapper .hs-form input[type="button"]:hover {
	background-color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }};
	color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_text_color.color }}!important;
}
.btn-wrapper.btn-outline-tertiary-wrapper .cta_button, .btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="submit"], .btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="button"] {
	border-color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }}!important;
	color:{{ theme.buttons_inputs.tertiary_button_override.tertiary_button_background_color.color }}!important;
}
.btn-wrapper.btn-outline-tertiary-wrapper .cta_button:hover, .btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="submit"]:hover, .btn-wrapper.btn-outline-tertiary-wrapper .hs-form input[type="button"]:hover {
	border-color:#fff!Important;
	background-color:#fff!Important;
}
{% endif %}

/* ----------------------------------------------------------------------------------- */
/*  HubSpot Forms */
/* ----------------------------------------------------------------------------------- */

.hs-form fieldset {
	font-size: 1rem;
	padding: 0.25rem 0;
	max-width: none !important;
}

@media only screen and (min-width: 992px) {
	.hs-form fieldset.form-columns-2 .field {
		width: calc(50% - 5.5px);
		display: inline-block;
		float: left; 
	}

	.hs-form fieldset.form-columns-2 .field + .field {
		margin-left: 11px; 
	}
}

@media only screen and (min-width: 992px) {
	.hs-form fieldset.form-columns-3 .field {
		width: calc(33.33% - 7.33px);
		display: inline-block;
		float: left; 
	}

	.hs-form fieldset.form-columns-3 .field + .field {
		margin-left: 11px; 
	} 
}

.hs-form fieldset .field {
	margin: 0 0 0.625rem; 
}

.hs-form ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #87909E; 
}

.hs-form ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #87909E; 
}

.hs-form :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #87909E;
}

.hs-form ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #87909E;
}

.hs-form ::placeholder {
	/* Most modern browsers support this now. */
	color: #87909E;
}

.hs-form .hs-field-desc {
	font-size: .8em;
	margin: 0 0 .5em;
}

.hs-form input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]),
.hs-form textarea,
.hs-form select,
.hs-form input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	-webkit-appearance: none;
	color: #87909E;
	background: #fff;
	font-size: 0.875rem;
	padding: .75rem .75rem;
	border-color: #E5E7EA; 
}

.hs-form input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]):focus,
.hs-form textarea:focus,
.hs-form select:focus,
.hs-form input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]):focus {
	border-color: #B4B5B4;
	box-shadow: none; 
}

.hs-form input[type="radio"], .hs-form input[type="checkbox"] {
	margin-right: 2px;
}

.hs-form select {
	background: url("https://www.sprocketrocket.co/hubfs/sprocket-rocket/images/icon-select.png") #F9F8F7;
	background-position: calc(100% - 12px) center;
	background-repeat: no-repeat;
	line-height: 1;
	height: auto;
}

.hs-form .inputs-list {
	margin: 0;
	padding: 0;
}

.hs-form .inputs-list li {
	list-style: none; 
}

.hs-form .hs-error-msgs {
	font-size: .8rem;
	color: #dc3545;
	margin: .5rem 0 0;
}

.hs-form .hs_submit {
	margin-top: 1rem;
}

.hs-form .form-input-lg input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), .hs-form .form-control-lg {
	height: {{ button.large_height / font_size_base + 'rem' }};
	font-size: {{ button.large_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.hs-form .form-input-md input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), .hs-form .form-control-md {
	height: {{ button.medium_height / font_size_base + 'rem' }};
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.hs-form .form-input-sm input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]), .hs-form .form-control-md {
	height: {{ button.small_height / font_size_base + 'rem' }};
	font-size: {{ button.small_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.field > label, .form-group label {
	margin: 0 0 0.3rem;
	color: #30343B;
	font-size: 0.875rem;
}

.form-control, .hs-form input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]),
.hs-form textarea,
.hs-form select,
.hs-form input[readonly]:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	-webkit-appearance: none;
	height: auto;
	color: #87909E;
	background: #fff;
	height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 15px;
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }};
	line-height: 1.25rem;
	border-color: #E5E7EA;
	border-style: solid;
	border-width: 1px;
	max-width: 100%;
	width: 100%;
}

.form-control:focus, .hs-form input:focus:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]),
.hs-form textarea:focus,
.hs-form select:focus {
	border-color: #B4B5B4;
	box-shadow: none;
}

.form-control-lg, .form-wrapper-lg input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	height: {{ button.large_height / font_size_base + 'rem' }};
	font-size: {{ button.large_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.form-control-md, .form-wrapper-md input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	height: {{ button.medium_height / font_size_base + 'rem' }};
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.form-control-sm, .form-wrapper-sm input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
	height: {{ button.small_height / font_size_base + 'rem' }};
	font-size: {{ button.small_font_size / font_size_base + 'rem' }}
	padding: 0 15px;
}

.form-control-lg input[type=submit].hs-button.primary,
.form-control-lg input[type=submit].hs-button.secondary,
.form-wrapper-lg input[type=submit].hs-button.primary,
.form-wrapper-lg input[type=submit].hs-button.secondary {
	height: {{ button.large_height / font_size_base + 'rem' }};
	padding: 0 {{ button.large_button_l_r_padding / font_size_base }}rem !important;
	font-size: {{ button.large_font_size / font_size_base + 'rem' }}
}

.form-control-md input[type=submit].hs-button.primary,
.form-control-md input[type=submit].hs-button.secondary,
.form-wrapper-md input[type=submit].hs-button.primary,
.form-wrapper-md input[type=submit].hs-button.secondary {
	height: {{ button.medium_height / font_size_base + 'rem' }};
	padding: 0 {{ button.medium_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.medium_font_size / font_size_base + 'rem' }}
}

.form-control-sm input[type=submit].hs-button.primary,
.form-control-sm input[type=submit].hs-button.secondary,
.form-wrapper-sm input[type=submit].hs-button.primary,
.form-wrapper-sm input[type=submit].hs-button.secondary {
	height: {{ button.small_height / font_size_base + 'rem' }};
	padding: 0 {{ button.small_button_l_r_padding / font_size_base }}rem  !important;
	font-size: {{ button.small_font_size / font_size_base + 'rem' }}
}

.hs-form-field {
	margin-bottom: 1rem;
}

form#email-prefs-form input.email-edit.hs-input {
    width: 100% !important;
}

/* Default Form Styles */
@media only screen and (min-width: 992px) {
	.hs-form fieldset.form-columns-2 .field + .field {
		margin-left: auto;
	}
}

input#hs-pwd-widget-password {
	width: 100%;
	height: initial !important;
	padding: .6rem;
	margin-bottom: 1rem;
	margin-top: 1rem !important;
}

.sr-multicol-media .responsive-video {
	height: 0;
	padding: 0 0 56.25%;
	position: relative;
}
.sr-multicol-media iframe,
.sr-multicol-media video {
	max-width: 100%;
	height: auto;
}
.sr-multicol-media .responsive-video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.sr-multicol-media .section-heading {
	margin: 0 0 1.25rem;
	padding: 0;
}
.sr-multicol-media .section-description {
	margin: 0 0 1.25rem;
	padding: 0;
}
.sr-multicol-media .responsive-video-file {
	max-width: 100%;
}
.sr-multicol-media .responsive-image img {
	max-width: 100%;
	height: auto;
}
.sr-multicol-media .col-subheading {
	font-size: 1rem;
	margin: 0 0 0.625rem;
}
.sr-multicol-media .col-heading {
	padding: 0;
}
.sr-multicol-media.sr-bg-image .sr-col {
	padding: 6.25rem 4rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-right: solid 1px #f5f7f9;
	border-right: solid 1px var(--secondary);
}
.sr-multicol-media.sr-bg-image .sr-col:last-of-type {
	border-right: none;
}
.sr-multicol-media.sr-bg-image .sr-col .form-control {
	padding: 3.125rem 0 0;
}
.sr-multicol-media.sr-bg-image .sr-col::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.sr-multicol-media.sr-bg-image .sr-col .content-wrapper {
	position: relative;
	z-index: 2;
}
.sr-multicol-media.text-white .col-subheading,
.sr-multicol-media.text-white .col-heading,
.sr-multicol-media.text-white .col-content,
.sr-multicol-media.text-light .col-subheading,
.sr-multicol-media.text-light .col-heading,
.sr-multicol-media.text-light .col-content,
.sr-multicol-media.text-dark .col-subheading,
.sr-multicol-media.text-dark .col-heading,
.sr-multicol-media.text-dark .col-content,
.sr-multicol-media.text-primary .col-subheading,
.sr-multicol-media.text-primary .col-heading,
.sr-multicol-media.text-primary .col-content,
.sr-multicol-media.text-secondary .col-subheading,
.sr-multicol-media.text-secondary .col-heading,
.sr-multicol-media.text-secondary .col-content,
.sr-multicol-media.text-tertiary .col-subheading,
.sr-multicol-media.text-tertiary .col-heading,
.sr-multicol-media.text-tertiary .col-content  {
	color: inherit;
}
.sr-multicol-media .sr-valign-top {
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.sr-multicol-media .sr-valign-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sr-multicol-media .sr-valign-bottom {
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
.sr-multicol-media .sr-valign-stretch {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
@media (max-width: 768px) { 
	.sr-multicol-media .sr-col {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
ul.slick-dots,
footer ul,
.sr-two-col-07 .sr-feature-check {
    list-style-image: none;
}
{% include '/sr/css/custom-styles.css' %}