<div class="action-panel-content">
    <div class="action-container">
        <div class="action-heading">
            <h2>Landing Pages</h2>
            <form class="form-inline action-panel-search">
            <input id="landing-search" class="form-control" type="search" placeholder="Search" aria-label="Search" data-item="module-search">
            </form>
        </div>
        <div class="sr-cards-view">
          <div class="sr-card">
            <img src="./assets/images/SR-Homepage-01-Thumb.png" />
            <div class="sr-card-info">
              <span class="module-name">SR Landing 01</span>
              <button type="button" class="btn-sm btn-primary">Add Page</button>
            </div>
          </div>
          <div class="sr-card">
            <img src="./assets/images/SR-Homepage-02-Thumb.png" />
            <div class="sr-card-info">
              <span class="module-name">SR Landing 02</span>
              <button type="button" class="btn-sm btn-primary">Add Page</button>
            </div>
          </div>
          <div class="sr-card">
            <img src="./assets/images/SR-Homepage-03-Thumb.png" />
            <div class="sr-card-info">
              <span class="module-name">SR Landing 03</span>
              <button type="button" class="btn-sm btn-primary">Add Page</button>
            </div>
          </div>
          <div class="sr-card">
            <img src="./assets/images/SR-Team-01-Thumb.png" />
            <div class="sr-card-info">
              <span class="module-name">SR Landing 04</span>
              <button type="button" class="btn-sm btn-primary">Add Page</button>
            </div>
          </div>
          <div class="sr-card">
            <img src="./assets/images/SR-CaseStudy-01-Thumb.png" />
            <div class="sr-card-info">
              <span class="module-name">SR Landing 05</span>
              <button type="button" class="btn-sm btn-primary">Add Page</button>
            </div>
          </div>
        </div>
        <div class="landing-search-results"></div>
      </div>
</div>

<!-- script needs to be loaded with this section if using AJAX-->
<script type="text/javascript">

  $("#landing-search").keyup(function () {

     $('.landing-search-results').empty();
     var filter = $.trim(($(this).val()));
     if ($(this).val().length > 0) {
     $(".sr-cards-view .sr-card").each(function () {
         if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $('.sr-cards-view').hide();
         } else {
           $('.sr-cards-view').hide();
           $('.landing-search-results').fadeIn(250);
            $(this).clone().appendTo('.landing-search-results').hide().fadeIn(250);
         }
     });
 } else {
   $('.landing-search-results').hide();
   $('.sr-cards-view').fadeIn(250);
 }
 });

</script>