/*-----------------------------------------------------------------------------------*/
/*
/*  Lean Labs LaunchPad Base Theme
/*
/*  Author: @helloteichner
/*  Version: 1.0.1
/*
/*-----------------------------------------------------------------------------------*/

// Main Bootstrap less
@import 'base.scss';


$body-color:                  #313543;

body {
	color: $body-color;
}

/*-----------------------------------------------------------------------------------*/
/*  Shared styles
/*-----------------------------------------------------------------------------------*/

.social-profiles {
	a {
		width: 2.125rem;
		height: 2.125rem;
		background: map_get($theme-colors, 'primary');
		border-radius: 50%;
		color: #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background: map_get($theme-colors, 'dark');
		}
	}
}

.tag {
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	a {
		color: $body-color;
		&:hover {
			color: map_get($theme-colors, 'primary');
		}
	}
}

.author {
	display: block;
}

.data {
	a {
		color: map_get($theme-colors, 'primary');
	}
}

.data {
	margin-bottom: 0.625rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    font-size: 0.75rem;
	.meta {
		margin-left: 1rem;
		line-height: 1.5;
	}
}


/*-----------------------------------------------------------------------------------*/
/*  Blog Listing
/*-----------------------------------------------------------------------------------*/


.articles-list {
  padding: 3.125rem 0;
}

.latest-posts > div {
  margin-bottom: 1.875rem;
}

.article-panel {
	position: relative;
	height: 100%;
	@extend .animated-fast;
	&:first-of-type {
		height: auto;
	}
	.data {
		margin-top: 0.25rem;
		font-size: 0.75rem;
		a {
			color: map_get($theme-colors, 'primary');
		}
	}
	h3 {
		@extend .antialiased;
		margin-top: .625rem;
		border-bottom: 2px solid;
		padding-bottom: 1rem;
		a {
			color: $body-color;
		}
	}
	.article-img {
		position: relative;
		height: 0;
		padding: 0 0 56.25%;
		overflow: hidden;

		a {
      		@extend .animated;
    	}

		img {
			position: absolute;
			width: 110%;
			max-width: 110%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.article-content {
		padding: 1.25rem 0;
		background: #fff;
		position: relative;
	}
}

.article-list-subscribe {
	padding: 2.5rem;
	border: 1px solid #979797;
	height: 100%;

	.form-title {
		display: none;
	}

	.article-list-subscribe-image {
		margin-bottom: 1rem;
		text-align: center;
	}

	@media only screen and (min-width: 768px) {

		.article-list-subscribe-image {
			margin-bottom: 0;
		}

	}
}

.blog-pagination {
	text-align: center;
	padding: 1.875rem 0;

	a {
		white-space: nowrap;
		margin: 0 10px;
		text-decoration: none;
		padding: 6px 10px;
		color: #313543;
		border: 1px solid transparent;
		border-radius: 5px;
		font-size: .8rem;
		font-weight: 600;
		text-transform: uppercase;
		background: transparent;
		-webkit-transition: all 0.2s ease; 
		-o-transition: all 0.2s ease; 
		transition: all 0.2s ease;
		&:hover,
		&:focus,
		&:active {
			background: #F8F9FA;
			border: 1px solid $body-color;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Blog Single Post
/*-----------------------------------------------------------------------------------*/

.blog-featured-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,1)),color-stop(50%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
		background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
		background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
	}
	@media (max-width: 767px) {
		height: 25vh;

		& + .blog-subscribe {
			.blog-subscribe-image img {
				display: none;
			}
		}
	}
}

.blog-heading {
	padding: 3.125rem 0 1.93rem;
	h1 {
		font-weight: bold;
		color: map_get($theme-colors, 'dark');
	}
	.data {
		margin-bottom: 2.187rem;
	}
	
}

.blog-introduction {
	padding: 0 0 3.125rem;
	
	img {
		max-width: 100%;
		height: auto;
	}
}

.ng-blog-wrapper {
    margin-top: -50vh;
	background: #fff;
	@media (max-width: 767px) {
		margin-top: 0;
	}
}

.blog-content {

	@media (max-width: 767px) {
		padding: 0;
	}

	article img {
		margin-bottom: 2rem !important;
		max-width: 100%;
		height: auto;
	}

	article p {
		padding-left: 8.33333%;
		padding-right: 8.33333%;
	}
}

.author-section {
	padding: 1.875rem 0 0.625rem;
	font-weight: bold;
	font-style: italic;
	p {
		font-size: .75em;
		font-weight: 400;
		margin-bottom: 1em;
	}
	.avatar {
		position: relative;
		margin-top: 0.625rem;
		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background: $dark;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
		img {
			width: 64px;
			height: auto;
			border-radius: 100%;
			margin-right: 1.2em;
			position: relative;
		}
	}
	.author-link:not(.hover) {
		color: map_get($theme-colors, 'primary');
	}
	.social-profiles {
		a {
			margin-right: .5em;
		}
	}
}

.avatar{
	img {
		border-radius: 50%;
		border: 1px #333;
		max-width: 50px;
	}
}

.blog-comments {
	margin-bottom: 3.125rem;

	.blog-comments-trigger {
		position: relative;
		text-align: center;
		display: block;

		&:after {
			content: "\f107";
			font-family: fontawesome;
			margin-left: .2rem;
		}

		&.open {
			&:after {
				content: "\f106";
			}
		}
	}

	.blog-comments-wrapper {
		display: none;

		.comment-reply-to {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-outline-secondary;
			margin-bottom: 20px;
		}

		form {
			padding: 2rem 0 4rem;
		}

		.hs-form {

			fieldset {
				max-width: 100%;

				&.form-columns-2 .field + .field {
					margin-left: 0;
				}

				textarea {
					width: 100%;
				}
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Blog Listing - Author
/*-----------------------------------------------------------------------------------*/

.author-profile {
	padding: 6.25rem 0 3.125rem;

	.author-profile-info {
		font-weight: bold;
		margin-bottom: 1.25rem;
		.avatar {
			margin-bottom: 0.625rem;
		}
		.author-name {
			display: block;
			font-size: 1.375rem;
		}
	}
	.avatar {
		width: 90px;
		height: auto;
		border-radius: 100%;
	}
	.author-profile-socials {
		margin-top: 3.125rem;
	}
	.author-content {
		border-bottom: 2px solid;
		padding-bottom: 5rem;
	}

	@media (min-width : 767px) {
		.author-profile-socials {
			margin: 0
		}
		.author-profile-info {
			margin: 0;
			.avatar {
				margin: 0
			}
		}
		.author-profile-bio {
			padding: 0 1rem;
		}
	}
	
}

h4.more-author {
    margin-bottom: 3rem;
}


/*-----------------------------------------------------------------------------------*/
/*  Blog Modules
/*-----------------------------------------------------------------------------------*/


// Blog Hero
.blog-hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 80vh;
	position: relative;
	color: #333;
	padding-bottom: 15vh;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
		left: 0;
	}
	.container {
		position: relative;
	}
	a:not(.btn) {
		color: #333;
	}
	.tag {
		margin-bottom: 0.25rem;
		display: inline-block;
	}
	.data {
		margin-bottom: 0.625rem;
		a {
			color: map_get($theme-colors, 'primary');
		}
	}
	h2 {
		font-size: 2.25rem;
	}
}

// IE11 flexbox fix for min-height bug
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.blog-hero {
		height: 75vh;
	}
}

// Social Share
.sr-social-share.sr-social-share {
	border: 1px solid #EBEBEB;
	display: block;
	padding: 15px 8.8px;
	border-radius: 100px;
	background: #ffffff;
	img {
		margin-bottom: 0 !important;
	}

	@media (max-width : 991px) {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}

	@media only screen and (min-width : 992px) {
		opacity: 0;
		position: fixed;
		left: 35px;
		top: 45%;
		transform: translateY(-50%);
		transition: all .15s ease-in-out;
		animation-timing-function: ease-in-out;

		&:hover {
			top: 44.5%;
			border-color: #f5f5f5;
			box-shadow: 10px 15px 60px 0 rgba(0, 0, 0, 0.1);
		}

		&.active {
			left: 45px;
			opacity: 1;
		}
		span, span a {
			display: block;
			margin: 5px auto;
		}
		.sr-social-share-heading {
			padding-left: 0;
			margin-bottom: 10px;
		}
		.hs_cos_wrapper_type_social_sharing {
			font-size: 0;
		}
	}

	.sr-social-share-heading {
		font-size: 9px;
		text-transform: uppercase;
		color: #C0C0C0;
		letter-spacing: 1px;
		vertical-align: middle;
	}
}

// Blog Subscribe
.blog-subscribe {
  background: #fff;
	padding: 2rem 0;
	text-align: center;

	@media only screen and (min-width: 768px) {
		padding: 1.125rem 0;
	}

	p {
		display: inline-block;
		margin-bottom: 0;
	}
	.blog-subscribe-image {
		margin: 0 0 2rem;
		text-align: center;
		@media only screen and (min-width: 768px) {
			margin: -3rem 0 -1rem;
			text-align: right;
		}
		img {
			max-width: 200px;
			height: auto;
		}
	}
	.blog-subscribe-form {
		text-align: center;
		margin: 0;


		@media (min-width: 768px) {
			text-align: right;
		}

		form {
			position: relative;

			@media (min-width: 768px) {
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}

			& > div:first-of-type {
				display: flex;
				justify-content: space-between;

				@media (min-width: 768px) {
					flex: 1;
				}

				.hs-richtext {
					display: flex;
					align-content: center;

					@media (max-width: 767px) {
						display: none;
					}

					h3 {
						margin: 0 20px 0 0;

						@media (min-width: 768px) and (max-width: 991px) {
							line-height: 35px;
						}
					}
					p {
						line-height: 40px;
					}
				}
			}

			.hs-email {
				.hs-error-msgs {
					display: none !important;
				}
			}

			.hs-submit {
				flex: 0;
			}

			.hs_error_rollup {
				position: absolute;
				left: auto;
				right: 160px;
				top: 5px;

				@media (min-width: 768px) and (max-width: 991px) {
					right: 140px;
				}

				@media (max-width: 767px) {
					width: 100%;
					text-align :center;
					left: 0;
					right: 0;
					top: 25px;
				}

				ul {
					font-size: .7rem;

					@media (max-width: 767px) {
						font-size: 1rem;
					}
				}



			}
		}

	}

}

// Blog related posts
.blog-related-posts {
	padding: 3.125rem 0;
	.row {
		> div {
			margin-bottom: 2rem;
			@media only screen and (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
	.article-panel:first-of-type {
		border-radius: 5px;
	}
	@media only screen and (min-width: 768px) {		
		.article-panel:first-of-type {
			height: auto;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden;
		}
		.article-panel .article-img {
			-ms-flex: 0 0 33.33%;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			height: auto;
			padding: 0;
		}
		.article-panel .article-content {
			background: #fff;
			position: relative;
			-ms-flex: 0 0 66.66%;
			flex: 0 0 66.66%;
			max-width: 66.66%;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.article-panel h3 {
		border-bottom: none;
		margin: 0;
		padding: 0;
	}
	.article-panel .article-content {
		padding: 2rem;
	}
	.article-panel:first-of-type {
		margin: 1rem 0;
	}
	.readmore {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		background: map_get($theme-colors, 'primary');
		color: #fff;
		font-size: 1.5rem;
		opacity: 0;
		transition: all 0.2s ease;
	}
	.article-panel .article-img:hover .readmore {
		opacity: 1;
	}
	.article-panel h3 a:hover {
		color: map_get($theme-colors, 'primary');
	}
	.data .meta {
		margin: 0;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  HubSpot Blog Subscribe
/*-----------------------------------------------------------------------------------*/

#hs_form_target_subscribe-blog {
	.field {
		> label {
			display: none;
		}
	}
	.hs_email, .input, .hs_submit {
		display: inline-block !important;
	}
	.hs_submit {
		margin-top: 0;
		input {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-primary;
			height: 2.5rem;
			border-radius: 0 4px 4px 0;
		}
	}
	.hs_email input {
		border-radius: 0;
		height: 2.5rem;
	}
	.hs-error-msgs {
	}
	label {
		font-weight: normal;
	}
	form {
		@media (max-width: 767px) {
			display: flex;
			justify-content: center;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Module - Sticky Breadcrumb
/*-----------------------------------------------------------------------------------*/

.sr-sticky-breadcrumb {
	position: relative;
	background: #fff;
	z-index: 10;
}

.sr-sticky-breadcrumb-heading {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.75rem 0;
	transition: all ease-in-out 300ms;
	color: $body-color;
	a {
		color: $body-color;
		&:hover {
			color: map_get($theme-colors, 'primary');
		}
	}
}

.sr-sticky-breadcrumb-trigger {
	color: $body-color;
	&:after {
		content: "\f0d7";
		font-family: fontawesome;
	}
	a {
		color: $body-color;
		&:hover {
			color: map_get($theme-colors, 'primary');
		}
	}
}

.sr-sticky-breadcrumb-categories {
	text-align: center;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    position: absolute;
	border-bottom: 1px solid #d3d3d3;
	color: $body-color;
	.container {
		padding: 1.25rem;
	}
	strong {
		margin: 0 0 0.93rem;
		color: $body-color;
	}
	ul {
		padding: 0;
		margin: 0;
			list-style: none;
		li {
		list-style: none;
		display: inline-block;
			a {
				margin: 1rem;
				display: inline-block;
				color: $body-color;
				&:hover {
					color: map_get($theme-colors, 'primary');
				}
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Media Queries
/*-----------------------------------------------------------------------------------*/

.blog-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
	.blog-container {
		max-width: 720px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.blog-container {
		max-width: 960px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.blog-container {
		max-width: 1140px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.blog-container {
		max-width: 1440px;
	}
}